{% extends 'newtheme/templates/layout-sidebar.html' %}

{% load ui_tags %}

{% block messages %}
{# global messaging #}
<div class="alert-wrap">
  <div class="alert alert-danger-dark alert-flat alert-dismissible alert-custom-close" role="alert">
    <p class="alert-text">
      <strong class="text-uppercase">Alert Message</strong> This could be kind of long kind of long kind of long kind of long kind of long kind of long and take up some space on the page.
    </p>
    <div class="dismiss-button-wrap">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">Dismiss&nbsp;<span aria-hidden="true" class="icon-close"></span></button>
    </div>
  </div>
</div>
{% endblock %}
{% block content_sidebar %}
{% include 'newtheme/templates/includes/sidenav.html' %}
{% endblock %}

{% block content_main %}
{% include 'newtheme/templates/includes/page-head.html' %}

{% block content_details %}
  {{ content.text|render_planning_shortcodes|safe }}
{% endblock %}

<div class="banner-ads-container">
  {% include 'newtheme/sandbox/banner-ad/layout-banner-ad-small-3up.html' %}
</div>

<div class="banner-ads-container">
  {% include 'newtheme/sandbox/banner-ad/banner-ad-leaderboard.html' %}
</div>
{% endblock %}