{% extends 'newtheme/templates/micro/base.html' %}

{% load content_extras %}
{% load static %}
{% load ui_tags %}

{% block leader_ad %}{% endblock %}

{% block content_main %}

  {% if content.get_featured_image_media.image_file.url %}
    <div class="layout-hero-image layout-hero-image-home">
      <img class="layout-hero-image-image" src="{{ content.get_featured_image_media.image_file.url }}" title="{{ content.get_featured_image_media.title }}" alt="{{ content.get_featured_image_media.description }}" />
      <div class="layout-hero-image-content">
        <!-- BEGIN CMS -->
        <div class="content-managed-html">
          {{ content.text|render_planning_shortcodes|safe }}
        </div>
        <!-- END CMS -->
        </div>
    </div>
    {% else %}
    <div class="layout-tracery">
      <div class="layout-column">
        <!-- BEGIN CMS -->
        {{ content.text|render_planning_shortcodes|safe }}
        <!-- END CMS -->
      </div>
    </div>
  {% endif %}
{% endblock %}
