{% load static %}

<div class="mega-menu-wrap">
{% for m in conference_menu %}
  {% if m.get_url and m.title and m.get_child_menuitems %}
  <section id="mega-menu-section-{{m.id}}" class="row mega-menu-section">
    <div class="col-sm-3">
      <h2 class="mega-menu-section-heading">
        {{ m.title }}
      </h2>
    </div>
    <div class="col-sm-9">
      <ul class="mega-menu-list">
        <li>
          <h3 class="mega-menu-section-sub-heading">
            <a href="{{ m.get_url }}">
              {{ m.title }} Overview
            </a>
          </h3>
        </li>
        {% for sm1 in m.get_child_menuitems %}
        <li>
          <h3 class="mega-menu-section-sub-heading">
            <a href="{{ sm1.get_url }}">
              {{ sm1.title }}
            </a>
          </h3>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% endif %}
{% endfor %}
</div>
