@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9z6zrk');
  src:  url('fonts/icomoon.eot?9z6zrk#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9z6zrk') format('truetype'),
    url('fonts/icomoon.woff?9z6zrk') format('woff'),
    url('fonts/icomoon.svg?9z6zrk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apa-my-apa-bookmark:before {
  content: "\e913";
}
.icon-apa-my-apa-bookmark-fill:before {
  content: "\e914";
}
.icon-apa-check:before {
  content: "\e910";
}
.icon-apa-documents:before {
  content: "\e911";
}
.icon-apa-submit:before {
  content: "\e912";
}
.icon-apa-bookmark:before {
  content: "\e904";
}
.icon-apa-calendar:before {
  content: "\e905";
}
.icon-apa-clock:before {
  content: "\e906";
}
.icon-apa-close:before {
  content: "\e907";
}
.icon-apa-down-arrow:before {
  content: "\e908";
}
.icon-apa-edit:before {
  content: "\e909";
}
.icon-apa-notice:before {
  content: "\e90a";
}
.icon-apa-password:before {
  content: "\e90b";
}
.icon-apa-pin:before {
  content: "\e90c";
}
.icon-apa-play:before {
  content: "\e90d";
}
.icon-apa-up-arrow:before {
  content: "\e90e";
}
.icon-arrow-icon:before {
  content: "\e900";
}
.icon-cart-icon:before {
  content: "\e901";
}
.icon-search-icon:before {
  content: "\e902";
}
.icon-user-icon:before {
  content: "\e903";
}
.icon-AICP-box-logo:before {
  content: "\e915";
}
.icon-APA-box-logo:before {
  content: "\e62a";
}
.icon-circle-plus:before {
  content: "\e040";
}
.icon-circle-minus:before {
  content: "\e041";
}
.icon-circle-check:before {
  content: "\e042";
}
.icon-circle-cross:before {
  content: "\e043";
}
.icon-keyboard-arrow-right:before {
  content: "\e62b";
}
.icon-directions-bike:before {
  content: "\e60f";
}
.icon-directions-bus:before {
  content: "\e610";
}
.icon-directions-ferry:before {
  content: "\e61c";
}
.icon-directions-train:before {
  content: "\e626";
}
.icon-directions-walk:before {
  content: "\e60a";
}
.icon-arrow-drop-down:before {
  content: "\e627";
}
.icon-ticket:before {
  content: "\e60b";
}
.icon-help:before {
  content: "\e60e";
}
.icon-list:before {
  content: "\e603";
}
.icon-arrow-down:before {
  content: "\e629";
}
.icon-arrow-right:before {
  content: "\e600";
}
.icon-linkedin2:before {
  content: "\e625";
}
.icon-linkedin3:before {
  content: "\e601";
}
.icon-instagram2:before {
  content: "\e608";
}
.icon-home:before {
  content: "\e604";
}
.icon-podcast:before {
  content: "\e602";
}
.icon-print:before {
  content: "\e606";
}
.icon-user:before {
  content: "\e605";
}
.icon-search:before {
  content: "\e609";
}
.icon-lightning:before {
  content: "\e90f";
}
.icon-star2:before {
  content: "\e62d";
}
.icon-star:before {
  content: "\e62c";
}
.icon-notification:before {
  content: "\e628";
}
.icon-close:before {
  content: "\e60c";
}
.icon-checkmark:before {
  content: "\e60d";
}
.icon-googleplus3:before {
  content: "\e61d";
}
.icon-googleplus:before {
  content: "\e611";
}
.icon-googleplus2:before {
  content: "\e612";
}
.icon-facebook3:before {
  content: "\e61e";
}
.icon-facebook:before {
  content: "\e613";
}
.icon-facebook2:before {
  content: "\e614";
}
.icon-instagram:before {
  content: "\e607";
}
.icon-twitter3:before {
  content: "\e61f";
}
.icon-twitter:before {
  content: "\e615";
}
.icon-twitter2:before {
  content: "\e616";
}
.icon-feed3:before {
  content: "\e620";
}
.icon-feed:before {
  content: "\e617";
}
.icon-feed2:before {
  content: "\e618";
}
.icon-youtube:before {
  content: "\e621";
}
.icon-youtube2:before {
  content: "\e622";
}
.icon-flickr3:before {
  content: "\e623";
}
.icon-flickr4:before {
  content: "\e624";
}
.icon-flickr:before {
  content: "\e619";
}
.icon-flickr2:before {
  content: "\e61a";
}
.icon-linkedin:before {
  content: "\e61b";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-ticket:before {
  content: "\e60b";
}
.icon-asterisk:before {
  content: "\f069";
}
