<div class="mobile-menu-wrap">
  <nav>
    <ul class="mobile-menu-list depth0">
      <li>
        <span class="heading">Main Menu</span>
      </li>
      {% for m0 in root_menu %}
      <li>
        <!-- BEGIN LEVEL 0 LINK -->
        {% if m0.get_child_menuitems %}
        <a href="#">
          {{ m0.title }}
          <span class="icon-keyboard-arrow-right pull-right"></span>
        </a>
        {% else %}
        <a href="{{ m0.get_url }}">
          {{ m0.title }}
        </a>
        {% endif %}
        <!-- END LEVEL 0 LINK -->
        <!-- BEGIN LEVEL 0 SUBNAV -->
        {% if m0.get_child_menuitems %}
        <ul class="mobile-menu-child">
          <li class="mobile-menu-btn-back-wrap">
            <a href="#" class="mobile-menu-btn-back" data-depth="0">
              <span class="icon-keyboard-arrow-right pull-left"></span>
              Back to Main Menu
            </a>
          </li>
          <li>
            <span class="heading">{{ m0.title }}</span>
          </li>
          <li>
            <a href="{{ m0.get_url }}">{{ m0.title }} Overview</a>
          </li>
          {% for m1 in m0.get_child_menuitems %}
          <li>
            <!-- BEGIN LEVEL 1 LINK -->
            {% if m1.get_child_menuitems %}
            <a href="#">
              {{ m1.title }}
              <span class="icon-keyboard-arrow-right pull-right"></span>
            </a>
            {% else %}
            <a href="{{ m1.get_url }}">
              {{ m1.title }}
            </a>
            {% endif %}
            <!-- END LEVEL 1 LINK -->
            <!-- BEGIN LEVEL 1 SUBNAV -->
            {% if m1.get_child_menuitems %}
            <ul class="mobile-menu-child">
              <li class="mobile-menu-btn-back-wrap">
                <a href="#" class="mobile-menu-btn-back" data-depth="0">
                  <span class="icon-keyboard-arrow-right pull-left"></span>
                  Back to Main Menu
                </a>
              </li>
              <li class="mobile-menu-btn-back-wrap">
                <a href="#" class="mobile-menu-btn-back" data-depth="1">
                  <span class="icon-keyboard-arrow-right pull-left"></span>
                  Back to {{ m0.title }}
                </a>
              </li>
              <li>
                <span class="heading">{{ m1.title }}</span>
              </li>
              <li>
                <a href="{{ m1.get_url }}">{{ m1.title }} Overview</a>
              </li>
              {% for m2 in m1.get_child_menuitems%}
              <li>
                <!-- BEGIN LEVEL 2 LINK -->
                {% if m2.get_child_menuitems %}
                <a href="#">
                  {{ m2.title }}
                  <span class="icon-keyboard-arrow-right pull-right"></span>
                </a>
                {% else %}
                <a href="{{ m2.get_url }}">
                  {{ m2.title }}
                </a>
                {% endif %}
                <!-- END LEVEL 2 LINK -->
                <!-- BEGIN LEVEL 2 SUBNAV -->
                {% if m2.get_child_menuitems %}
                <ul class="mobile-menu-child">
                  <li class="mobile-menu-btn-back-wrap">
                    <a href="#" class="mobile-menu-btn-back" data-depth="0">
                      <span class="icon-keyboard-arrow-right pull-left"></span>
                      Back to Main Menu
                    </a>
                  </li>
                  <li class="mobile-menu-btn-back-wrap">
                    <a href="#" class="mobile-menu-btn-back" data-depth="1">
                      <span class="icon-keyboard-arrow-right pull-left"></span>
                      Back to {{ m0.title }}
                    </a>
                  </li>
                  <li class="mobile-menu-btn-back-wrap">
                    <a href="#" class="mobile-menu-btn-back" data-depth="2">
                      <span class="icon-keyboard-arrow-right pull-left"></span>
                      Back to {{ m1.title }}
                    </a>
                  </li>
                  <li>
                    <span class="heading">{{ m2.title }}</span>
                  </li>
                  <li>
                    <a href="{{ m2.get_url }}">{{ m2.title }} Overview</a>
                  </li>
                  {% for m3 in m2.get_child_menuitems %}
                  <li>
                    <a href="{{ m3.get_url }}">{{ m3.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
                <!-- END LEVEL 2 SUBNAV -->


              </li>
              {% endfor %}
            </ul>
            {% endif %}
            <!-- END LEVEL 1 SUBNAV -->

          </li>
          {% endfor %}
        </ul>
        {% endif %}
        <!-- END LEVEL 0 SUBNAV -->
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>
