{% extends 'submissions/newtheme/forms/review.html' %}

{% block preview_details_wrapper %}

<a class="btn btn-sm btn-icon pull-right btn-inline" href="{{edit_url}}">
    Edit
    <span class="icon-apa-edit"></span>
</a>

<h2 class="details-title">{{content.title}}</h2>
<h3 class="details-subtitle">{{content.company}}</h3>

<p>
	<span>{{content.city}},</span>
    <span>{{content.state}}</span>
    {% if content.country %}<span>{{content.country}}</span>{% endif %}
</p>

<div>
{{ content.text|safe }}
</div>

<div class="form-section form-section-enclosed-light">

    <a class="btn btn-sm btn-icon pull-right" href="{{edit_url}}">
        Edit
        <span class="icon-apa-edit"></span>
    </a>

	<div class="layout-tracery">
		<div class="layout-column">
			<div class="admin-list">
				<div class="row hidden-xs hidden-sm">
					<div class="col-md-3">
						<h3>Experience Level</h3>
					</div>
					<div class="col-md-2">
						<h3>AICP Level </h3>
					</div>
					<div class="col-md-4">
						<h3>Specialty</h3>
					</div>
					<div class="col-md-3">
						<h3>Salary Range</h3>
					</div>
				</div>
				<div class="admin-list-group-wrap">
					<div class="col-md-3 admin-list-group">
						<div class="h3 h-flush visible-xs-block visible-sm-block">
							Experience Level
						</div>
						{% if job_experience_level %} 
							<span>{{ job_experience_level }}</span> 
						{% else %} 
							-- 
						{% endif %}
					</div>
					<div class="col-md-2 admin-list-group">
						<div class="h3 h-flush visible-xs-block visible-sm-block">
							AICP Level
						</div>
						{% if job_aicp_level %}
							<span>{{ job_aicp_level }}</span> 
						{% else %} 
							-- 
						{% endif %}
					</div>
					<div class="col-md-4 admin-list-group">
						<div class="h3 h-flush visible-xs-block visible-sm-block">
							Specialty
						</div>
						{% if job_specialty %}
							{{ job_specialty }}
						{% else %}
							--
						{% endif %}
					</div>
					<div class="col-md-3 admin-list-group">
						<div class="h3 h-flush visible-xs-block visible-sm-block">
							Salary Range
						</div>
						{% if content.salary_range %}
							{{ content.salary_range }}
						{% else %}
							--
						{% endif %}
					</div>
		    	</div> <!-- admin list group wrap -->
		    </div> <!-- admin list -->
	 	</div> <!-- layout column -->
	</div> <!-- layout tracery -->
</div>

<div class="form-section form-section-enclosed-light">
    <a class="btn btn-sm btn-icon pull-right" href="{{edit_url}}">
        Edit
        <span class="icon-apa-edit"></span>
    </a>

        <h3 class="section-title">Contact Information</h3>
        {% if content.contact_us_last_name %}
        	<div>{{content.contact_us_first_name }} {{content.contact_us_last_name }}</div>
        {% endif %}
		{% if content.contact_us_address1 %}
			<div>{{content.contact_us_address1}}</div>
		{% endif %}
		{% if content.contact_us_address1 %}
			<div>{{content.contact_us_address2}}</div>
		{% endif %}
		{% if content.contact_us_state and content.contact_us_city%}
			<div>{{content.contact_us_city}}, {{content.contact_us_state}}</div>
		{% elif content.contact_us_state %}
			<div>{{content.contact_us_state }}</div>
		{% endif %}
		{% if content.contact_us_zip_code %}
			<div>{{content.contact_us_zip_code}}</div>
		{% endif %}
		{% if content.contact_us_country %}
			<div>{{contact.contact_us_country}}</div>
		{% endif %}

		{% if content.resource_url %}
			<h5> Resource URL </h5>
			<div>
				<a href="{{content.resource_url}}">{{content.resource_url}}</a>
			</div>
		{% endif %}

		{% if content.contact_us_email %}
			<h5> Email </h5>

			{% if content.contact_us_email %}
				<div><a href="mailto:{{content.contact_us_email}}" target="_top">{{content.contact_us_email}}</a></div>
			{% endif %}
			
		{% endif %}

		{% if content.contact_us_phone %}
			<h5> Phone </h5>
			{% if content.contact_us_phone %}
				<div>{{content.contact_us_phone}}</div>
			{% endif %}

    	{% endif %}

		<br/>
		<div>
	        {% if content.display_contact_info %}
	        	<span><i> Include my name in the contact info</i></span>
	        {% else %}
				<span><i> Do NOT include my name in the contact info</i></span>
	        {% endif %}
	    </div>
    </div>
{% endblock %}
