@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300italic');
.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen and (max-width: 480px) {
  .hidden-mobile,
  .header-desktop {
    display: none;
  }
  .mobile-icon-header {
    display: block;
    width: 33.33%;
    float: left;
    padding: 12px 0px;
    text-align: center;
    font-size: 46px;
    color: white;
    font-family: 'icomoon';
  }
  body {
    position: relative;
    width: 480px;
    background-color: #444;
  }
  body.mobile-menu {
    overflow: hidden;
  }
  body.mobile-menu #content,
  body.mobile-menu #footer {
    width: 25%;
  }
  body.mobile-menu #navigation {
    width: 360px;
  }
  #content {
    width: 100%;
    float: right;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  #header {
    background-color: #005595;
    width: 100%;
    position: fixed;
    -webkit-backface-visibility: hidden;
    z-index: 99;
  }
  #header .home {
    display: block;
  }
  #header .greatcommunities {
    display: none;
  }
  #header .myapa-widget {
    display: none;
  }
  #navigation-shell {
    height: 70px;
    background-color: #444;
  }
  #navigation {
    position: fixed;
    -webkit-backface-visibility: hidden;
    width: 0%;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
  }
  #navigation .wrap {
    padding-top: 70px;
    padding-bottom: 140px;
    position: relative;
  }
  #navigation a {
    line-height: 1;
    font-size: 32px;
    padding: 21.6px 12px;
  }
  #navigation .menu {
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    display: block;
    max-height: 0px;
    overflow: hidden;
  }
  #navigation .menu a {
    padding-left: 24px;
    font-size: 24px;
  }
  #navigation .nav.windowshade-mobile-hover.clickedLast .menu {
    max-height: 1100px;
    display: block;
  }
  #navigation .nav.windowshade-mobile-hover.clickedLast .menu a {
    white-space: normal;
  }
  .content-left {
    width: 456px;
    padding: 12px;
    font-size: 1.2em;
  }
  .content-left table {
    font-size: medium;
  }
  .column,
  .column1,
  .column2,
  .columnminor,
  .column1minor,
  .column2minor,
  .column3minor,
  .columnmajor,
  .column1major,
  .column2major {
    width: 100%;
  }
  #banner img {
    min-width: 480px;
  }
  #banner .title {
    font-size: 64px;
  }
  .ads-right {
    display: none;
  }
  section,
  div.section {
    padding: 0px 0px 24px 0px;
  }
  #footer {
    float: right;
    width: 100%;
    text-align: center;
    clear: both;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }
  #footer .wrap {
    width: 480px;
  }
  #footer .print {
    display: none;
  }
  #footer .apa-logo {
    margin: auto;
  }
  #footer .social-links a:last-child {
    margin-right: 0px;
  }
  #footer .text-links a {
    display: block;
    line-height: 1.8em;
  }
  .separator.fixed {
    top: 70px;
  }
  .details-room {
    display: block;
  }
  #conference-program .search-doc .tag.details-room {
    font-size: 0.8em;
  }
  .conferenceactivity-details-action-section {
    text-align: left;
  }
  .admin-toolbar {
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
}
@media screen and (min-width: 481px) {
  body.mobileapp {
    min-width: 764px;
    padding-left: 12px;
  }
  body.mobileapp .wrap {
    width: 764px;
  }
  .hidden-desktop,
  .header-mobile,
  .search-mobile {
    display: none;
  }
  .content-left {
    width: 764px;
  }
  body {
    min-width: 960px;
  }
  body.sticky-navigation #navigation {
    position: fixed;
    -webkit-backface-visibility: hidden;
    width: 100%;
    top: 0px;
    z-index: 99;
  }
  #header {
    padding: 6px;
    height: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  #header .header-desktop {
    width: 100%;
  }
  #header .home {
    position: relative;
    float: left;
    width: auto;
    display: inline-block;
  }
  #header .search {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    padding: 8px 24px 0px 48px;
  }
  #header .myapa-widget {
    position: relative;
    float: right;
    width: auto;
    display: inline-block;
  }
  #header .home img {
    margin-right: 12px;
  }
  #header .greatcommunities {
    margin-top: 6px;
  }
  div.myapa-widget {
    height: 24px;
    padding: 6px;
  }
  div.myapa-widget .myapa-info {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }
  div.myapa-widget .myapa-action {
    position: relative;
    float: right;
    width: auto;
    display: inline-block;
  }
  div.myapa-widget .button {
    background: #444444;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2b2b2b), color-stop(1, #5e5e5e));
    background: -ms-linear-gradient(bottom, #2b2b2b, #5e5e5e);
    background: -moz-linear-gradient(center bottom, #2b2b2b 0%, #5e5e5e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#5e5e5e');
    /* for IE */
  }
  div.myapa-widget .button:hover {
    background: #444444;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5e5e5e), color-stop(1, #2b2b2b));
    background: -ms-linear-gradient(bottom, #5e5e5e, #2b2b2b);
    background: -moz-linear-gradient(center bottom, #5e5e5e 0%, #2b2b2b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e', endColorstr='#2b2b2b');
    /* for IE */
  }
  #navigation-shell {
    height: 32px;
    width: 100%;
    background-color: #005595;
  }
  #navigation {
    width: 100%;
    -webkit-box-shadow: 0px 2px 3px #333;
    -moz-box-shadow: 0px 2px 3px #333;
    box-shadow: 0px 2px 3px #333;
  }
  #navigation .wrap {
    height: 32px;
  }
  #navigation a {
    padding: 0px 6px;
  }
  #navigation .nav {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
  }
  #navigation .nav.nav4 {
    width: 25%;
  }
  #navigation .nav.nav4 .menu {
    min-width: 240px;
  }
  #navigation .nav.nav6 {
    width: 16.66%;
    font-size: 0.9em;
  }
  #navigation .nav.nav6 > .nav6 {
    width: 16.67%;
  }
  #navigation .nav.nav6 .menu {
    min-width: 160px;
  }
  #navigation .nav.nav7 {
    width: 14.28%;
    font-size: 0.8em;
  }
  #navigation .nav.nav7 > .nav7 > .nav7 {
    width: 14.29%;
  }
  #navigation .nav.nav7 .menu {
    min-width: 137.14285714px;
  }
  #navigation .nav.nav8 {
    width: 12.5%;
    font-size: 0.8em;
    letter-spacing: -0.075em;
  }
  #navigation .nav.nav8 .menu {
    min-width: 120px;
  }
  #navigation .nav a {
    line-height: 32px;
  }
  #navigation .nav:hover a {
    background-color: #0064af;
  }
  #navigation .nav .menu {
    position: absolute;
    z-index: 99;
    min-width: 192px;
    text-align: left;
    -webkit-box-shadow: 0px 2px 3px #333;
    -moz-box-shadow: 0px 2px 3px #333;
    box-shadow: 0px 2px 3px #333;
  }
  .wrap {
    width: 960px;
  }
  .column,
  .columnmajor,
  .columnminor,
  .column1,
  .column2,
  .column1major,
  .column2major,
  .column1minor,
  .column2minor,
  .column3minor {
    float: left;
  }
  .column,
  .column1,
  .column2 {
    width: 50%;
  }
  .columnminor,
  .columnminor + .columnminor + .columnminor,
  .column1minor,
  .column3minor {
    width: 33.3%;
  }
  .columnminor + .columnminor,
  .column2minor {
    width: 33.4%;
  }
  .columnmajor,
  .column2major {
    width: 66.7%;
  }
  .column1major {
    width: 66.6%;
  }
  #banner img {
    min-width: 960px;
  }
  #banner .title {
    font-size: 112px;
  }
  #footer .print {
    float: right;
  }
  #footer .text-links a {
    margin-right: 36px;
  }
  section,
  div.section {
    padding: 0px 24px 12px 0px;
  }
  .separator.fixed {
    top: 32px;
  }
  .conferenceactivity-details-action-section {
    text-align: right;
  }
}
.admin-toolbar,
.admin-toolbar-shell {
  height: 32px;
  background-color: #444;
  color: white;
}
.admin-toolbar span {
  color: lightgrey;
  line-height: 32px;
  font-size: 1.2em;
}
.admin-toolbar a {
  color: white;
  text-decoration: underline;
  line-height: 32px;
}
#navigation {
  background-color: #005595;
  z-index: 98;
}
#navigation .nav a:hover {
  background-color: #0072c8;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
#navigation a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #f3f3f3;
  width: 100%;
  height: 100%;
  display: block;
  white-space: nowrap;
}
#navigation .menu .item {
  display: block;
  background-color: #0064af;
}
#content {
  z-index: 2;
  clear: both;
}
#footer {
  z-index: 1;
  clear: both;
}
body {
  margin: 0px;
}
body.editor {
  width: 764px;
  margin: auto;
}
.columns {
  width: 100%;
  overflow: hidden;
}
.ads-right {
  width: 196px;
  float: right;
}
.ads-right .advertisement {
  height: 174px;
  padding: 4px 8px;
  background-color: #f3f3f3;
  color: #aeaeae;
  font-size: 0.8em;
  margin: 24px 0px;
}
.ads-right .advertisement img {
  margin: 4px 0px;
}
.content-left {
  float: left;
}
section:after,
div.section:after {
  content: "";
  clear: both;
  display: block;
}
.wrap {
  margin: auto;
}
#header {
  overflow: hidden;
}
#footer {
  background-color: #aeaeae;
  position: relative;
  overflow: hidden;
}
#footer .section {
  padding: 12px 0px 24px;
}
#footer .icons {
  font-size: 2em;
}
#footer .icons a:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
#footer .apa-logo {
  width: 120px;
}
#footer .social-links a {
  margin-right: 12px;
}
#footer a {
  color: white;
}
#banner {
  z-index: 1;
  overflow: hidden;
  position: relative;
}
#banner.short {
  max-height: 280px;
}
#banner img {
  width: 100%;
}
#banner .paralax-banner {
  position: relative;
  min-height: 280px;
}
#banner .title {
  position: absolute;
  z-index: 97;
  bottom: 0px;
  color: white;
  line-height: 70%;
  font-weight: bold;
}
#messages {
  overflow: hidden;
}
#messages .message {
  border-top: 1px solid white;
  padding: 6px 12px;
}
#content {
  min-height: 600px;
  position: relative;
  background-color: white;
  padding-bottom: 60px;
}
#content-main {
  float: left;
  width: 75%;
}
#content-right-wrap {
  position: relative;
  float: left;
  width: 25%;
}
table {
  border-collapse: collapse;
}
tr.head td {
  background-color: #009555;
  color: #fff;
}
tr.head td .button,
tr.head td button,
tr.head td input[type='submit'],
tr.head td input[type='button'] {
  background: #f3f3f3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dadada), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #dadada, #ffffff);
  background: -moz-linear-gradient(center bottom, #dadada 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadada', endColorstr='#ffffff');
  /* for IE */
  color: black;
}
tr.head td .button:hover,
tr.head td button:hover,
tr.head td input[type='submit']:hover,
tr.head td input[type='button']:hover {
  background: #f3f3f3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffffff), color-stop(1, #dadada));
  background: -ms-linear-gradient(bottom, #ffffff, #dadada);
  background: -moz-linear-gradient(center bottom, #ffffff 0%, #dadada 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dadada');
  /* for IE */
}
tr.alt td {
  background-color: #f3f3f3;
}
td {
  padding: 4px;
  vertical-align: top;
}
.tabs {
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  border-left: 2px solid #fff;
  overflow: hidden;
  height: 50px;
  padding: 4px 2px 0px;
  background-color: #fff;
}
.tabs .tab {
  position: relative;
  width: 20%;
  height: 46px;
  float: left;
  text-align: center;
  line-height: 42px;
  overflow: hidden;
}
.tabs .tab.tab-radio label {
  display: block;
  width: 100%;
  height: 100%;
}
.tabs .tab.tab-radio input[type="radio"] {
  display: none;
}
.tabs .tab.selected a {
  background-color: #44c8ff;
}
.tabs .tab a {
  display: block;
  color: black;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 2px solid #fff;
  border-bottom: 4px solid #fff;
  background-color: #aeaeae;
}
.tabs.tabs4 .tab {
  width: 25%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #006738;
  margin: 12px 0px;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 2.4em;
  margin-top: 24px;
}
h2 {
  font-size: 1.9em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.0em;
  font-weight: bold;
}
h6 {
  font-size: 0.9em;
  font-weight: bold;
}
header,
.header {
  border-bottom: 2px solid #006738;
  margin-bottom: 6px;
}
header h1,
.header h1,
header h2,
.header h2,
header h3,
.header h3,
header h4,
.header h4,
header h5,
.header h5,
header h6,
.header h6 {
  margin-bottom: 2px;
}
a {
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #0055ff;
}
a:hover {
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
}
a img {
  border: none;
}
.button,
.btn,
button[type='submit'],
input[type='submit'],
input[type='button'] {
  background: #009555;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #007c46), color-stop(1, #00af64));
  background: -ms-linear-gradient(bottom, #007c46, #00af64);
  background: -moz-linear-gradient(center bottom, #007c46 0%, #00af64 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007c46', endColorstr='#00af64');
  /* for IE */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 5px #666;
  -moz-box-shadow: 2px 2px 5px #666;
  box-shadow: 2px 2px 5px #666;
  padding: 4px 12px 4px;
  color: #fff;
  font-size: 1.2em;
  border-width: 0px;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
}
.button *,
.btn *,
button[type='submit'] *,
input[type='submit'] *,
input[type='button'] * {
  vertical-align: middle;
}
.button.small,
.btn.small,
button[type='submit'].small,
input[type='submit'].small,
input[type='button'].small {
  padding: 2px 12px 2px;
  font-size: 0.8em;
}
.button.small:hover,
.btn.small:hover,
button[type='submit'].small:hover,
input[type='submit'].small:hover,
input[type='button'].small:hover {
  padding: 3px 12px 1px;
}
.button:hover,
.btn:hover,
button[type='submit']:hover,
input[type='submit']:hover,
input[type='button']:hover {
  background: #009555;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00af64), color-stop(1, #007c46));
  background: -ms-linear-gradient(bottom, #00af64, #007c46);
  background: -moz-linear-gradient(center bottom, #00af64 0%, #007c46 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00af64', endColorstr='#007c46');
  /* for IE */
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 0px #666;
  -moz-box-shadow: 0px 0px 0px #666;
  box-shadow: 0px 0px 0px #666;
  padding: 5px 12px 3px;
  cursor: pointer;
  cursor: hand;
}
.button.red,
.btn.red,
button[type='submit'].red,
input[type='submit'].red,
input[type='button'].red {
  background: #ff5545;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff3e2b), color-stop(1, #ff6c5f));
  background: -ms-linear-gradient(bottom, #ff3e2b, #ff6c5f);
  background: -moz-linear-gradient(center bottom, #ff3e2b 0%, #ff6c5f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3e2b', endColorstr='#ff6c5f');
  /* for IE */
}
.button.red:hover,
.btn.red:hover,
button[type='submit'].red:hover,
input[type='submit'].red:hover,
input[type='button'].red:hover {
  background: #ff5545;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff6c5f), color-stop(1, #ff3e2b));
  background: -ms-linear-gradient(bottom, #ff6c5f, #ff3e2b);
  background: -moz-linear-gradient(center bottom, #ff6c5f 0%, #ff3e2b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6c5f', endColorstr='#ff3e2b');
  /* for IE */
}
input[type="text"],
input[type="url"],
textarea {
  width: 420px;
  max-width: 100%;
  font-size: 0.90em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"].full-width,
input[type="url"].full-width,
textarea.full-width {
  width: 100%;
}
form .required {
  color: #d59500;
  vertical-align: super;
  font-size: 0.5em;
  font-weight: bold;
}
form .required:before {
  content: "\f069";
  font-family: 'icomoon';
}
.fieldWrapper {
  margin: 12px 0px;
}
.fieldWrapper textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fieldErrors {
  position: relative;
  display: inline-block;
}
.fieldErrors span {
  background-color: #ff5545;
  color: #fff;
  padding: 0px 2px;
}
.select-facade,
.checkbox-facade,
.radio-facade,
a .action,
.datetime-facade .planning-datetime-widget {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 6px;
  border: 1px solid #aeaeae;
  color: #444444;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.select-facade,
.checkbox-facade,
.radio-facade,
a .action {
  background: #f9f9f9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f3f3f3), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #f3f3f3, #ffffff);
  background: -moz-linear-gradient(center bottom, #f3f3f3 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f3', endColorstr='#ffffff');
  /* for IE */
}
.select-facade:hover,
.checkbox-facade:hover,
.radio-facade:hover,
a .action:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  background: #e6e6e6;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d9d9d9), color-stop(1, #f3f3f3));
  background: -ms-linear-gradient(bottom, #d9d9d9, #f3f3f3);
  background: -moz-linear-gradient(center bottom, #d9d9d9 0%, #f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9d9d9', endColorstr='#f3f3f3');
  /* for IE */
}
.select-facade.goooold,
.checkbox-facade.goooold,
.radio-facade.goooold,
a .action.goooold {
  background: #fdf5c3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fcf1aa), color-stop(1, #fef9dc));
  background: -ms-linear-gradient(bottom, #fcf1aa, #fef9dc);
  background: -moz-linear-gradient(center bottom, #fcf1aa 0%, #fef9dc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcf1aa', endColorstr='#fef9dc');
  /* for IE */
}
.select-facade.goooold:hover,
.checkbox-facade.goooold:hover,
.radio-facade.goooold:hover,
a .action.goooold:hover {
  background: #fced91;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fbe979), color-stop(1, #fcf1aa));
  background: -ms-linear-gradient(bottom, #fbe979, #fcf1aa);
  background: -moz-linear-gradient(center bottom, #fbe979 0%, #fcf1aa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbe979', endColorstr='#fcf1aa');
  /* for IE */
}
.radio-facade input[type='radio'] {
  display: none;
}
.radio-facade.selected {
  background: #c8e1f8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #96c8f0), color-stop(1, #fafaff));
  background: -ms-linear-gradient(bottom, #96c8f0, #fafaff);
  background: -moz-linear-gradient(center bottom, #96c8f0 0%, #fafaff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96c8f0', endColorstr='#fafaff');
  /* for IE */
}
.radio-facade.selected:hover {
  background: #c8e1f8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #96c8f0), color-stop(1, #fafaff));
  background: -ms-linear-gradient(bottom, #96c8f0, #fafaff);
  background: -moz-linear-gradient(center bottom, #96c8f0 0%, #fafaff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96c8f0', endColorstr='#fafaff');
  /* for IE */
}
.select-facade,
.checkbox-facade,
.radio-facade,
.datetime-facade .planning-datetime-widget {
  white-space: nowrap;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.datetime-facade .planning-datetime-widget {
  max-width: 6em;
}
.select-facade:after {
  content: '\e627';
  margin-left: 2px;
  font-family: 'icomoon';
}
.select-facade select {
  -webkit-appearance: menulist-button;
  height: 100%;
  width: 100%;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
}
a.disabled:hover {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
a.disabled .action {
  background: #c6c6c6;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b9b9b9), color-stop(1, #d3d3d3));
  background: -ms-linear-gradient(bottom, #b9b9b9, #d3d3d3);
  background: -moz-linear-gradient(center bottom, #b9b9b9 0%, #d3d3d3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9b9b9', endColorstr='#d3d3d3');
  /* for IE */
}
.autocomplete,
.selectable-search {
  position: relative;
}
.autocomplete .menu,
.selectable-search .menu {
  background-color: #fff;
  border: 1px solid #000;
}
.autocomplete .menu .menu-item,
.selectable-search .menu .menu-item,
.autocomplete .menu .menu-header,
.selectable-search .menu .menu-header,
.autocomplete .menu .menu-footer,
.selectable-search .menu .menu-footer {
  padding: 6px;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete .menu .menu-item,
.selectable-search .menu .menu-item,
.autocomplete .menu .menu-header,
.selectable-search .menu .menu-header {
  border-bottom: 1px solid #666;
}
.autocomplete .menu .menu-item,
.selectable-search .menu .menu-item {
  line-height: 1.1em;
  background-color: white;
}
.autocomplete .menu .selectable:hover,
.selectable-search .menu .selectable:hover {
  background-color: #dedede;
}
.autocomplete .menu .menu-header,
.selectable-search .menu .menu-header,
.autocomplete .menu .menu-footer,
.selectable-search .menu .menu-footer,
.autocomplete .menu .not-selectable,
.selectable-search .menu .not-selectable {
  background-color: #f3f3f3;
}
.selectable-search .menu .records {
  max-height: 400px;
  overflow-y: auto;
}
.autocomplete .search-wrap {
  border: 1px solid #444444;
}
.autocomplete input[type='text'],
.autocomplete .search-button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.4em;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.autocomplete input[type='text'].loading-right,
.autocomplete .search-button.loading-right {
  background: rgba(255, 255, 255, 0.4) url("../content/image/ajax-loader.svg") no-repeat right;
}
.autocomplete .search-button {
  color: black;
  background-color: white;
}
.autocomplete .menu {
  position: absolute;
  z-index: 98;
  box-shadow: 2px 2px 12px #888;
  min-width: 400px;
}
.formset .record,
.selectable-search .menu .selectable {
  background-color: #fff;
  padding: 12px;
}
.formset .record:not(:last-of-type) {
  margin-bottom: 2px;
}
.review .review-part:hover {
  position: relative;
  border: 1px dashed #aeaeae;
}
.review .review-part:hover .review-part-label {
  position: absolute;
  display: inline-block;
  color: white;
  background-color: #444444;
}
.review .review-part .review-part-label {
  display: none;
}
.planning-form input[type="text"],
.planning-form input[type="number"],
.planning-form input[type="url"] {
  padding: 6px;
}
.planning-form input[type="text"].small,
.planning-form input[type="number"].small,
.planning-form input[type="url"].small {
  padding: 1px;
  width: 14em;
  font-size: 0.9em;
}
.planning-form input[type="number"] {
  width: 2em;
}
.planning-form ul {
  list-style-type: none;
}
div.login {
  margin: 50px auto;
  width: 320px;
}
div.login div.login-card {
  background-color: #f3f3f3;
  padding: 24px;
}
div.login div.login-card input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.2em;
  line-height: 1.1em;
}
.bar-left {
  position: relative;
  float: left;
  width: auto;
  display: inline-block;
}
.bar-right {
  position: relative;
  float: right;
  width: auto;
  display: inline-block;
}
.bar-fill {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}
.registration-option {
  background: #eaeaea;
  margin: 1em 0;
  overflow: hidden;
  padding: .5em 1em;
}
.registration-option label {
  display: block;
  font-size: 1.5em;
}
.registration-option ul {
  border: 2px solid;
  float: left;
  list-style-type: none;
  margin: 1em 2em 1em 0;
  padding: 0;
  width: 30%;
}
.registration-option ul li {
  background: #fafafa;
  padding: 0 1em;
}
.registration-option .title {
  margin-top: 1em;
}
.registration-activity {
  background: #eaeaea;
  margin: 1em 0;
  padding: .5em 1em;
}
.registration-activity label {
  display: block;
  font-size: 1.5em;
  margin-bottom: .5em;
}
.registration-activity input {
  font-size: 1.25em;
  margin: 0 .5em;
  width: 50px;
  text-align: center;
}
.registration-table {
  margin: 1em 0;
  width: 100%;
}
.registration-table tr.odd {
  background: #eaeaea;
}
.registration-table th,
.registration-table td {
  border: 1px solid #777;
  text-align: left;
  padding: .25em .5em ;
}
.search-bar-widget {
  overflow: hidden;
  position: relative;
}
.search-bar-widget .search-label {
  position: relative;
  float: left;
  width: auto;
  display: inline-block;
  padding: 0px 6px;
  background-color: #444;
  color: #f3f3f3;
  border-right: 1px solid white;
}
.search-bar-widget .search-bar {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}
.search-bar-widget .scope {
  position: relative;
  float: left;
  width: auto;
  display: inline-block;
  background-color: #b5b585;
  color: #f3f3f3;
  padding-left: 6px;
  padding-right: 6px;
}
.search-bar-widget .keyword {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}
.search-bar-widget .keyword input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f3f3f3;
}
.search-bar-widget .submit {
  position: relative;
  float: right;
  width: auto;
  display: inline-block;
}
.search-bar-widget .submit input[type='submit'] {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0px;
}
.search .search-bar-widget {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.search .search-bar-widget,
.search .scope,
.search .keyword,
.search .submit,
.search .keyword input {
  height: 32px;
}
.search .search-label,
.search .scope {
  line-height: 32px;
}
.search-mobile {
  font-size: 24px;
  padding: 12px;
}
.search-mobile .search-bar-widget {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.search-mobile .search-label {
  line-height: 42px;
  border-color: #005595;
}
.search-mobile .keyword {
  height: 42px;
}
.search-mobile .keyword input {
  height: 42px;
}
.search-info {
  margin: 12px 0px;
}
.search-info > span {
  margin-bottom: 2px;
  display: inline-block;
}
.search-info .scope {
  color: #b5b585;
}
.search-info .keyword {
  color: #444;
}
.search-info .tag {
  color: #457595;
  font-size: 1em;
}
.search-info .tagtype {
  color: #457595;
  background-color: white;
  font-weight: bold;
}
.search-info .tag,
.search-info .keyword,
.search-info .scope,
.search-info .day {
  position: relative;
  padding: 3px;
}
.search-info .tag:hover .remove,
.search-info .keyword:hover .remove,
.search-info .scope:hover .remove,
.search-info .day:hover .remove {
  display: block;
}
.search-info .remove {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 3px;
  color: white;
  background-color: #ff5545;
}
.search-info .remove:before {
  content: "\e043";
  font-family: 'icomoon';
}
.search-doc {
  padding: 4px 0px;
  border-top: 1px solid black;
  background-color: white;
  overflow: hidden;
}
.search-doc .tag {
  background-color: #f3f3f3;
  color: #444;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.search-doc .tag:hover {
  background-color: #457595;
  color: white;
}
.search-doc .tags a {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.search-doc .tag.details-room {
  font-size: 1em;
}
.search-doc .tag.details-room:hover {
  background-color: gold;
  color: black;
}
.search-doc .details-room {
  margin-right: 20px;
}
.search-doc .details-cm,
.search-doc .details-mobileworkshop,
.search-doc .details-activitynumber {
  margin-bottom: 12px;
}
.search-doc .details-pricing {
  margin-bottom: 12px;
  font-size: 0.75em;
  color: #444;
}
.search-doc .tagtype {
  color: #457595;
  background-color: white;
  font-weight: bold;
}
.tags {
  margin: 12px 0px;
}
.tag,
.tagtype {
  font-size: 0.8em;
  padding: 3px;
  white-space: nowrap;
  display: inline-block;
  margin: 0px 0px 2px 0px;
  vertical-align: bottom;
}
.search-doc-top span {
  display: inline-block;
  vertical-align: middle;
}
.search-doc-right {
  float: right;
  text-align: right;
  width: 120px;
  margin-left: 12px;
  margin-bottom: 12px;
}
.separator {
  color: white;
  background-color: #444;
  padding: 0em 0.25em;
  min-height: 1.5em;
  line-height: 1.5em;
}
.separator.fixed {
  left: 0px;
  width: 100%;
}
.sub-separator {
  background-color: #999;
}
.sub-separator.fixed {
  background-color: #444;
}
body.mobileapp .separator.fixed {
  top: 0px;
}
.details-title {
  margin-bottom: 0px;
}
a .details-title {
  color: #0055ff;
}
a .details-title:hover,
.details-title a:hover {
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  text-decoration: underline;
}
.details-subtitle {
  color: #457595;
  margin-top: 0px;
}
a + .details-subtitle {
  color: #459575;
}
.details-tags {
  margin: 24px 0px;
}
.details-tag,
.details-tagtype {
  padding: 6px;
  font-size: 1.4em;
  white-space: nowrap;
  display: inline-block;
  margin: 0px 6px 10px 0px;
}
.details-tag {
  background-color: #457595;
  color: white;
}
.details-tagtype {
  color: #457595;
  background-color: white;
  font-weight: bold;
}
.details-icon {
  font-size: 1.6em;
  vertical-align: middle;
}
.details-schedule-add,
.details-schedule-remove {
  font-size: 1.3em;
  vertical-align: middle;
}
.details-schedule-add.large,
.details-schedule-remove.large {
  font-size: 2em;
}
.details-schedule-add {
  color: #009555;
}
.details-schedule-remove {
  color: #ff5545;
}
.details-price {
  background-color: #aeaeae;
  border-radius: 4px;
  padding: 2px;
  vertical-align: middle;
}
.search-doc-id {
  color: #8f8f8f;
  font-size: 0.8em;
  margin-bottom: 12px;
}
.search-doc-thumbnail {
  float: left;
  margin: 6px 12px 6px 0px;
}
.search-doc-title h3 {
  margin-bottom: 0px;
}
.search-doc-title h3 a {
  color: #0055ff;
}
.search-doc-title h3 a:hover {
  text-decoration: underline;
}
.search-doc-subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: #009555;
}
.search-doc-description {
  color: #8f8f8f;
  margin: 12px 0px;
}
.action,
.callout {
  border-left: 1px solid black;
  padding: 12px;
  margin: 12px 0px;
}
.action:after,
.callout:after {
  content: "";
  display: block;
  clear: both;
}
.afterh1,
.large-text {
  font-size: 1.3em;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
.cm {
  color: #005595;
}
.cmpoints {
  color: #950000;
  line-height: 1.4;
}
.cmlawethics {
  background-color: #005595;
  color: white;
  padding: 0px 4px;
  margin: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.arrowlink {
  display: block;
}
.arrowlink:before {
  content: '\e600';
  color: #005595;
  vertical-align: middle;
  font-family: 'icomoon';
}
.loading {
  position: relative;
  overflow: hidden;
}
.loading:before {
  content: '';
  position: absolute;
  z-index: 98;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(100, 100, 100, 0.4) url("/static/content/image/ajax-loader.svg") no-repeat center;
}
.icon {
  font-family: 'icomoon';
}
.icon-facebook,
.icon-facebook2,
.icon-facebook3 {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.icon-facebook:hover,
.icon-facebook2:hover,
.icon-facebook3:hover {
  color: #3b5998;
}
.icon-twitter,
.icon-twitter2,
.icon-twitter3 {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.icon-twitter:hover,
.icon-twitter2:hover,
.icon-twitter3:hover {
  color: #00aced;
}
.icon-googleplus,
.icon-googleplus2,
.icon-googleplus3 {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.icon-googleplus:hover,
.icon-googleplus2:hover,
.icon-googleplus3:hover {
  color: #dd4b39;
}
.icon-youtube,
.icon-youtube2,
.icon-youtube3 {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.icon-youtube:hover,
.icon-youtube2:hover,
.icon-youtube3:hover {
  color: #bb0000;
}
.icon-feed,
.icon-feed2,
.icon-feed3 {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.icon-feed:hover,
.icon-feed2:hover,
.icon-feed3:hover {
  color: #ee802f;
}
.icon-flickr,
.icon-flickr2,
.icon-flickr3 {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.icon-flickr:hover,
.icon-flickr2:hover,
.icon-flickr3:hover {
  color: #ff0084;
}
.icon-linkedin,
.icon-linkedin2,
.icon-linkedin3 {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.icon-linkedin:hover,
.icon-linkedin2:hover,
.icon-linkedin3:hover {
  color: #007bb6;
}
.icon-podcast {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.icon-podcast:hover {
  color: #02a058;
}
.icon-instagram {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.icon-instagram:hover {
  color: #517fa4;
}
.icon-ticket {
  color: white;
}
html,
button,
select,
input,
textarea {
  font-family: 'Source Sans Pro', sans-serif;
}
select,
input,
textarea {
  max-width: 100%;
}
textarea {
  min-height: 8em;
}
p,
table {
  font-size: 1.04em;
}
.no-style ul,
ul.no-style {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.lato {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
.transition {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.clear {
  clear: both;
}
.right,
.floatright {
  float: right;
}
.left,
.floatleft {
  float: left;
}
.floatleft {
  margin: 0px 12px 12px 0px;
}
.floatright {
  margin: 0px 0px 12px 12px;
}
.nomargin {
  margin: 0px;
}
.nopadding {
  padding: 0px;
}
.margin-left {
  margin-left: 12px;
}
.margin-right {
  margin-right: 12px;
}
.margin-top {
  margin-top: 12px;
}
.margin-bottom {
  margin-bottom: 12px;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bold {
  font-weight: bold;
}
.small,
.smalltext {
  font-size: 0.7em;
}
.smallcaps {
  font-variant: small-caps;
  font-size: 0.7em;
}
.fixed {
  position: fixed;
  -webkit-backface-visibility: hidden;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.hidden {
  display: none;
}
.contain {
  overflow: hidden;
}
.attention {
  color: #ff5545;
  font-weight: bold;
}
.attention:before {
  content: "\e628";
  vertical-align: middle;
  padding-right: 2px;
  font-size: 1.5em;
  font-family: 'icomoon';
}
a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}
.tooltip,
.tooltip-bio,
.round-tag {
  padding: 0.2em 0.6em;
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.tooltip:hover,
.tooltip-bio:hover {
  cursor: default;
  background-color: #111111;
}
.tooltip,
.round-tag {
  background-color: #444444;
}
.tooltip-bio {
  background-color: red;
}
.text-small {
  font-size: 0.8em;
}
.text-large {
  font-size: 2.0em;
}
.text-compact {
  margin: 0px;
}
.text-compact h1,
.text-compact h2,
.text-compact h3,
.text-compact h4,
.text-compact h5,
.text-compact h6,
.text-compact p {
  margin: 0px;
}
.table-cell-middle {
  display: table-cell;
  vertical-align: middle;
}
.text-grey {
  color: #8f8f8f;
}
.text-darkgrey {
  color: #6f6f6f;
}
.text-green {
  color: #009555;
}
.text-red {
  color: #ff5545;
}
.action,
.callout {
  background-color: #f3f3f3;
}
.highlight {
  background-color: #fdffdd;
}
.info {
  background-color: #cce9ff;
}
.success {
  background-color: #75f075;
}
.warning {
  background-color: #f5e585;
}
.error {
  background-color: #ff5545;
  color: white;
}
.error a {
  color: #def;
  text-decoration: underline;
}
body.mobileapp .admin-toolbar,
body.mobileapp #header,
body.mobileapp #footer,
body.mobileapp #navigation-shell,
body.mobileapp #banner {
  display: none;
}
@media not print {
  .only-print {
    display: none;
  }
}
@media print {
  .hidden-print {
    display: none;
  }
  #header .header-mobile,
  #header .search,
  #header .myapa-widget,
  #header .greatcommunities,
  #navigation-shell,
  #banner,
  #footer,
  .ads-right {
    display: none;
  }
  #conference-program {
    font-size: 0.8em;
  }
  #conference-program .separator {
    color: black;
    background-color: transparent;
    border: solid black;
    border-width: 3px 0px 2px 0px;
    font-weight: bold;
    height: 20pt;
    font-size: 20pt;
    margin: 0px;
    text-align: center;
    page-break-inside: avoid;
  }
  #conference-program .separator.fixed {
    position: static;
    top: 0px;
    backface-visibility: visible;
    border-width: 0px;
  }
  #conference-program .sub-separator {
    display: none;
  }
  #conference-program .search-doc {
    page-break-inside: avoid;
  }
  #conference-program .search-doc .details-cm,
  #conference-program .search-doc .details-mobileworkshop,
  #conference-program .search-doc .details-activitynumber,
  #conference-program .search-doc .details-pricing {
    margin: 0px;
  }
  #conference-program .search-doc .details-title {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px;
  }
  #conference-program .search-doc .tags {
    display: none;
  }
  #conference-program .search-doc .details-text {
    font-size: 0.9em;
  }
  #conference-program .search-doc .details-text,
  #conference-program .search-doc .details-text p {
    margin: 0px;
  }
}
