{% load content_extras %}

<div class="row">
{% with resource_columns=results.response.docs|columns_alternate:2 %}
	{% for resource_column in resource_columns %}
	<div class="col-xs-12 col-sm-6"> {# change column size if adding more columns #}
		<div class="list-of-links">
		{% for resource in resource_column %}
		<h4>
			<a href="{{resource|solr_record_to_details_path_filter}}">{{resource.title}}</a>
		</h4>
		{% if resource.places %}
        <div class="content-preview-item-summary">
		{% for place in resource.places %}
		{{ place }}  {% if not forloop.last %}<br/>{% endif %}
		{% endfor %}
		</div>
		{% endif %}
		<p>{{resource.description}}</p>
		{% endfor %}
		</div>
	</div>
	{% endfor %}
{% endwith %}
</div>