{% extends 'newtheme/templates/layout-sidebar.html' %}

{% load staticfiles %}
{% load compress %}
{% load content_extras %}

{% block content_sidebar %}
{% include 'newtheme/templates/includes/sidenav.html' %}
{% endblock %}

{% block content_main %}


    <div class="page-head">
      {% include 'newtheme/templates/includes/breadcrumbs.html' %}
      <h1 class="page-title">{{content.title}}</h1>
    </div>

    <div class="layout-tracery">
        <div class="layout-column">

            {{ content.text|safe }}

            <div class="form-section form-section-enclosed-dark">
                <form class="planning-form">
                    {% include "ui/newtheme/forms/includes/display-errors.html" %}

                    {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.keyword %}
                    {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.school %}
                    {% include "newtheme/sandbox/forms/includes/input-boolean.html" with field=form.profile_only %}
                    {% if is_aicp %}{% include "newtheme/sandbox/forms/includes/input-boolean.html" with field=form.aicp_only %}{% endif %}
                    {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.city %}
                    {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.state %}
                    {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.country %}
                    <br>
                    <input class="btn btn-primary" type="submit" name="submit" value="Search" />
                </form>
            </div>

            <br>

        </div>
    </div>

    {% if search or page %}
    {% if results|length > 0 %}
    <h2>Search Results:</h2>

    <div class="results-items">
        <div class="content-preview-list layout-tracery no-bottom-border">
            <ul>
            {% for result in results %}
                <li class="content-preview-item">
                    {% if not school %}

                        {% if result.image.image_file or result.contact.individualprofile.image.image_file %}                           
                            {% if result.image.image_thumbnail.url %}
                                <div style="float:right;" class="column2minor">
                                    <img class="middle" src="{{result.image.image_file.url}}" alt="Profile Image" width="100" height="100">
                                </div>
                            {% elif result.contact.individualprofile.image.image_thumbnail.url %}
                                <div style="float:right;" class="column2minor">
                                    <img class="middle" src="{{result.contact.individualprofile.image.image_file.url}}" alt="Profile Image" width="100" height="100">
                                </div>
                            {% endif %}
                            
                            
                        {% endif %}
                    {% endif %}

                    <p><h3><strong>{{result.contact.first_name}}</strong>  <strong>{{result.contact.last_name}}</strong>{%if result.contact.designation%}, {% endif %}<strong>{{result.contact.designation}}</strong></h3></p>
                    
                    {% if result.contact.contact_type == "INDIVIDUAL" and result.contact.company %}
                        <h4>{{result.contact.company}}</h4>
                    {% endif %}
                    
                    {% if result.contact.slug %}
                    <a class="btn btn-primary btn-sm" href="/profile/{{result.contact.slug}}" target="_blank">
                        See full profile</a><br>
                    {% endif %}

                        {% if result.contact.individualprofile.share_contact == "MEMBER" or result.contact.individualprofile.share_contact == "PUBLIC"  %}

                            {% if result.contact.phone %}<b>Phone: </b>{{result.contact.phone}}<br>{% endif %}
                            {% if result.contact.email %}<b>Email: </b><a class="small button" href="mailto:{{result.contact.email}}">Click here to email</a><br>{% endif %}
                            {% if result.contact.address1 %}
                                <b>Address: </b><br>
                                {{result.contact.address1}}<br>
                                {% if result.contact.address2 %}{{result.contact.address2}}<br>{% endif %}
                                {% if result.contact.city %}{{result.contact.city}}, {% endif %}
                                {% if result.contact.state %}{{result.contact.state}} {% endif %}
                                {% if result.contact.zip_code %}{{result.contact.zip_code}}<br>{% endif %}
                                {% if result.contact.country %}{{result.contact.country}}{% endif %}
                            {% endif %}

                        {% endif %}

                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="search-pagination" align="center">
        <span class="step-links">
            {% if results.has_previous %}
                <a href="?page={{ results.previous_page_number }}" class="pull-left"><b> < Previous </b></a>
            {% endif %}
            <span class="pagination-results">
            Page {{ results.number }} of {{ results.paginator.num_pages }}
            </span>
            {% if results.has_next %}
                <a href="?page={{ results.next_page_number }}" class="pull-right"><b> Next > </b></a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <h2>Search Results:</h2>
    <p><b>Your search returned no results.</b> Please try again with some different keywords.</p>
    {% endif %}
    {% endif %}
    
{% endblock %}
{% block additional_body_js %}
<script src="{% static 'ui/forms/js/selectchain.js' %}"></script>
{% endblock %}
