{% extends 'newtheme/templates/layout-nosidebar.html' %}
{% load static %}
{% load myapa_tags %}


{% block additional_head_css %}
{{block.super}}
<link type="text/css" rel="stylesheet" href="{% static 'rome/rome.min.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'rome/rome_custom.css' %}" />
{% endblock additional_head_css %}


{% block content_main %}
<div class="new-account-form">
  <div class="page-head">
    {% include 'newtheme/templates/includes/breadcrumbs.html' %}

    <h1 class="page-title">Merge check on an iMIS ID</h1>
  </div>


  <div class="layout-tracery no-bottom-border">

    <div class="layout-column">

      <div class="row">

        <div class="col-xs-12 col-sm-6 col-lg-5">

          <form id="create_contact_form" align="left" method="post" class="validate-form">
            {% csrf_token %}

            {% include "newtheme/sandbox/forms/includes/form-errors.html" with form=form %}

            <div class="form-section form-section-limit-width form-section-enclosed-dark">
            
            {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.username %}
  
            </div>

            <div class="form-actions">
              <input type="submit" name="submit" class="btn btn-primary" value="{% if is_update %}Update{% else %}Submit{% endif %}" />
            </div>
          </form>
          {% if merge_data %}<h5>Records associated with user: {{username}} (click to expand)</h5>{% endif %}
          {% for md in merge_data %}
            <div class="container">
            {% if md %}
              <button style="border: 2px solid #FFFFFF" type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#{{md.0}}">{{md.0}}</button>
              <div id="{{md.0}}" class="collapse">
              {% if md.1 %}
                {% for record in md.1 %}
                  <p><strong>{{forloop.counter}}.</strong> {{record}}</p>
                {% endfor %}
              {% else %}
                No records.
              {% endif %}
              </div>
            {% else %}
            {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% block additional_body_js %}
{{ block.super }}
<script src="{% static 'newtheme/vendor/bootstrap/js/transition.js' %}"></script>
<script src="{% static 'newtheme/vendor/bootstrap/js/collapse.js' %}"></script>
<script src="{% static 'rome/rome.min.js' %}"></script>
<script src="{% static 'rome/rome_setup.js' %}"></script>
{% endblock %}

{% endblock %}
