{% if imageroles %}
<div class="form-section form-section-enclosed-light">
  <h3>Images Under Review</h3>
  <p>
    These images are currently under review. Processing times may vary, but APA aims to review images within one week of submission. If you would like us to remove an image under review before it is added to the library, please email <a href="mailto:imagelibrary@planning.org">imagelibrary@planning.org</a>.
  </p>
  <div class="admin-list">

    <div class="row hidden-xs hidden-sm">
          <div class="col-md-2">
            <h3>Thumbnail</h3>
          </div>
          <div class="col-md-5">
            <h3>Title</h3>
          </div>
          <div class="col-md-3">
              <h3>Submitted On</h3>
          </div>
          <div class="col-md-2">
          </div>
      </div>

      <div class="admin-list-group-wrap">
    {% for imagerole in imageroles %}
    {% with image=imagerole.content.image %}

        <div class="col-md-2 admin-list-group">
              <div class="h3 h-flush visible-xs-block visible-sm-block">
                Thumbnail
              </div>
        <span>{{ image.img_thumbnail_html|safe }}</span>
          </div>

          <div class="col-md-5 admin-list-group">
              <div class="h3 h-flush visible-xs-block visible-sm-block">
                Title
              </div>
              <span>{{image.title}}</span><br/>
          </div>

          <div class="col-md-3 admin-list-group">
            <div class="h3 h-flush visible-xs-block visible-sm-block">
                Submitted On
              </div>
              <span>{{image.submission_time|date:"F j, Y"}}</span><br/>
          </div>
          
          <div class="col-md-2 admin-list-controls">
        <a class="btn btn-sm btn-default" href="{% url 'imagebank:submissions_preview' master_id=image.master_id %}" target="_blank">View</a>
          </div>

          <div class="clearfix"></div>

      {% endwith %}
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}