{% extends 'newtheme/templates/layout-pattern-library.html' %}

{% block title %}APA Conference Pattern Library - Career Zone{% endblock %}

{% block introduction %}{% endblock %}

{% block patterns %}

<section class="pl-section">

  <h2 class="pl-h2">Career Zone Featured Sessions</h2>
  <h3 class="pl-h3">example:</h3>

  <p class="conference-intro-text">Donec imperdiet eros eu fringilla semper. Morbi tristique non sapien eu ullamcorper. Nunc ut facilisis odio. Fusce quis ante ipsum. In sed nunc dapibus, vulputate elit sed, facilisis diam. Proin rhoncus ipsum id nisi condimentum tincidunt eu non tortor. Quisque lacinia aliquam ligula, scelerisque finibus eros tincidunt nec. Nunc lacus tortor, dapibus vitae venenatis sit amet, auctor quis dolor. Nullam luctus pretium odio, non consequat magna tempus non. Nunc fermentum erat quis nibh dictum, eu tristique sem tincidunt. Etiam pharetra neque at orci elementum, a posuere nisl ultrices.</p>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;p class="conference-intro-text"&gt;text to go here&lt;/p&gt;
  </code></pre>

  <h2 class="pl-h2">Career Zone Featured Sessions</h2>
  <h3 class="pl-h3">example:</h3>

  <div class="career-zone-row">
    <div class="career-zone-content-row">
      <h2 class="headline-underline career-zone-content-row-headline">
        Featured Career Zone Session or Workshop
      </h2>
      <div class="career-zone-row-left-col">
        <img src="//placehold.it/385x205" class="img-responsive career-zone-content-row-image" />
      </div>
      <div class="career-zone-row-right-col">
        <div class="career-zone-content-summary">
          <div>
            <p class="strong">Session Details.</p>
            <p>It includes the following:
              <ul>
                <li>benefit 1</li>
                <li>benefit 2</li>
                <li>benefit 3</li>
              </ul>
            </p>
          </div>
          <div class="career-zone-button">
            <a href="#" class="btn btn-primary">Sign up Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="career-zone-content-col">
      <img src="//placehold.it/350x169" class="img-responsive career-zone-content-col-image" />
      <div class="career-zone-content-col-details">
        <h2 class="headline-underline">
          Resume Clinic
        </h2>
        <div class="career-zone-content-summary">
          <p>Resume clinic is always a popular event at NPC. Registered conference attendees can book ahead online for a one on one resume review session in 20 minute increments.</p>
          <p>Resume clinic is always a popular event at NPC. Registered conference attendees can book ahead online for a one on one resume review session in 20 minute increments.</p>
          <p>Registration is required.</p>
        </div>
        <div class="career-zone-button">
          <a href="#" class="btn btn-primary">Sign up Now</a>
        </div>
      </div>
    </div>

    <div class="career-zone-content-col">
      <img src="//placehold.it/350x169" class="img-responsive career-zone-content-col-image" />
      <div class="career-zone-content-col-details">
        <h2 class="headline-underline">
          Mentor Match Mixer
        </h2>
        <div class="career-zone-content-summary">
          <p>A highly anticipated social event. Sign up in advance to find a mentor or work with a planning professional building her or her career.</p>
          <p>Registration is required.</p>
        </div>
        <div class="career-zone-button">
            <a href="#" class="btn btn-primary">Sign up Now</a>
          </div>
      </div>
    </div>
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;div class="career-zone-row"&gt;
    &lt;div class="career-zone-content-row"&gt;
      &lt;h2 class="headline-underline career-zone-content-row-headline"&gt;
        ...
      &lt;/h2&gt;
      &lt;div class="career-zone-row-left-col"&gt;
        &lt;img src="//placehold.it/385x205" class="img-responsive career-zone-content-row-image" /&gt;
      &lt;/div&gt;
      &lt;div class="career-zone-row-right-col"&gt;
        &lt;div class="career-zone-content-summary"&gt;
          &lt;div&gt;
            &lt;p class="strong"&gt;Session Details.&lt;/p&gt;
            &lt;p&gt;It includes the following:
              &lt;ul&gt;
                &lt;li&gt;...&lt;/li&gt;
                &lt;li&gt;...&lt;/li&gt;
                &lt;li&gt;...&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="career-zone-button"&gt;
          &lt;a href="#" class="btn btn-primary"&gt;Sign up Now&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="career-zone-content-col"&gt;
      &lt;img src="//placehold.it/350x169" class="img-responsive career-zone-content-col-image" /&gt;
      &lt;div class="career-zone-content-col-details"&gt;
        &lt;h2 class="headline-underline"&gt;
          ...
        &lt;/h2&gt;
        &lt;div class="career-zone-content-summary"&gt;
          &lt;p&gt;...&lt;/p&gt;
          &lt;p&gt;...&lt;/p&gt;
          &lt;div class="career-zone-button"&gt;
            &lt;a href="#" class="btn btn-primary"&gt;...&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="career-zone-content-col"&gt;
      &lt;img src="//placehold.it/350x169" class="img-responsive career-zone-content-col-image" /&gt;
      &lt;div class="career-zone-content-col-details"&gt;
        &lt;h2 class="headline-underline"&gt;
          ...
        &lt;/h2&gt;
        &lt;div class="career-zone-content-summary"&gt;
          &lt;p&gt;...&lt;/p&gt;
          &lt;p&gt;Registration is required.&lt;/p&gt;
          &lt;div class="career-zone-button"&gt;
            &lt;a href="#" class="btn btn-primary"&gt;Sign up Now&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>

  <h2 class="pl-h2">Career Zone Drop In Events</h2>
  <h3 class="pl-h3">example:</h3>

  <div class="career-zone-row">
    <h2 class="headline-underline">Drop-IN EVENTS</h2>
    <div class="career-zone-content-col">
      <img src="//placehold.it/350x169" class="img-responsive career-zone-content-col-image" />
      <div class="career-zone-content-col-details">
        <h2 class="headline-underline">
          Career Events
        </h2>
        <div class="career-zone-content-summary">
          <p>Stop by the Career Panel to get answers to your most pressing career questions. Find out what skills employers are really looking for and walk away with strategies for getting hired and succeeding in the first years on the job.</p>
          <p>Location: Hall 1E17 (Javits Convention Center)</p>
          <p>Date: </p>
          <ul class="dates">
            <li>Saturday, May 6, 2017 | 11 a.m. - 5:15 p.m.</li>
          </ul>

          <div class="career-zone-button">
            <a href="#" class="">View more details</a>
          </div>
        </div>
      </div>
    </div>

    <div class="career-zone-content-col">
      <img src="//placehold.it/350x169" class="img-responsive career-zone-content-col-image" />
      <div class="career-zone-content-col-details">
        <h2 class="headline-underline">
          Job Fair
        </h2>
        <div class="career-zone-content-summary">
          <p>Looking for a new position? Check out the job fair to meet and network with potential employers,</p>
          <p>Location: Hall 1E17 (Javits Convention Center)</p>
          <p>Date: </p>
          <ul class="dates">
            <li>Saturday, May 6, 2017 | 11 a.m. - 5:15 p.m.</li>
            <li>Saturday, May 7, 2017 | 11 a.m. - 5:15 p.m.</li>
            <li>Saturday, May 8, 2017 | 11 a.m. - 5:15 p.m.</li>
          </ul>

          <div class="career-zone-button">
            <a href="#" class="">View more details</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;div class="career-zone-row"&gt;
    &lt;h2 class="headline-underline"&gt;Drop-IN EVENTS&lt;/h2&gt;
    &lt;div class="career-zone-content-col"&gt;
      &lt;img src="//placehold.it/350x169" class="img-responsive career-zone-content-col-image" /&gt;
      &lt;div class="career-zone-content-col-details"&gt;
        &lt;h2 class="headline-underline"&gt;
          ...
        &lt;/h2&gt;
        &lt;div class="career-zone-content-summary"&gt;
          &lt;p&gt;...&lt;/p&gt;
          &lt;p&gt;Location: ...&lt;/p&gt;
          &lt;p&gt;Date: &lt;/p&gt;
          &lt;ul class="dates"&gt;
            &lt;li&gt;...&lt;/li&gt;
          &lt;/ul&gt;

          &lt;div class="career-zone-button"&gt;
            &lt;a href="#" class=""&gt;...&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="career-zone-content-col"&gt;
      &lt;img src="//placehold.it/350x169" class="img-responsive career-zone-content-col-image" /&gt;
      &lt;div class="career-zone-content-col-details"&gt;
        &lt;h2 class="headline-underline"&gt;
          ...
        &lt;/h2&gt;
        &lt;div class="career-zone-content-summary"&gt;
          &lt;p&gt;...&lt;/p&gt;
          &lt;p&gt;Location: ...&lt;/p&gt;
          &lt;p&gt;Date: &lt;/p&gt;
          &lt;ul class="dates"&gt;
            &lt;li&gt;...&lt;/li&gt;
            &lt;li&gt;...&lt;/li&gt;
            &lt;li&gt;...&lt;/li&gt;
          &lt;/ul&gt;

          &lt;div class="career-zone-button"&gt;
            &lt;a href="#" class=""&gt;...&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>

  <h2 class="pl-h2">List of Related Sessions</h2>
  <h3 class="pl-h3">example:</h3>

  <div class="row related-session-row">
    <div class="col-xs-12">
      <h2 class="headline-underline">List of related sessions</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h4><a href="#">Resume Clinic</a></h4>
      <h4><a href="#">Learning from Don Draper: Presentation Skills</a></h4>
      <h4><a href="#">Emerging Professionals Institute</a></h4>
      <h4><a href="#">The Thing About City Managers and Planners</a></h4>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h4><a href="#">Building a Strong Planning Student Organization</a></h4>
      <h4><a href="#">Now that You're AICP</a></h4>
      <h4><a href="#">Charting a Career in Sustainability</a></h4>
    </div>
    <div class="col-xs-12">
      <a href="#" class="btn btn-primary">View all Career Zones Sessions</a>
    </div>
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;div class="row related-session-row"&gt;
    &lt;div class="col-xs-12"&gt;
      &lt;h2 class="headline-underline"&gt;...&lt;/h2&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12 col-sm-6"&gt;
      &lt;h4&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/h4&gt;
      &lt;h4&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/h4&gt;
      &lt;h4&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/h4&gt;
      &lt;h4&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12 col-sm-6"&gt;
      &lt;h4&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/h4&gt;
      &lt;h4&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/h4&gt;
      &lt;h4&gt;&lt;a href="#"&gt;...&lt;/a&gt;&lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class="col-xs-12"&gt;
      &lt;a href="#" class="btn btn-primary"&gt;...&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>

</section>

{% endblock %}
