{% extends 'newtheme/templates/conference/page-nosidebar.html' %}
{% load static %}

{% block content_main %}
{% include 'newtheme/templates/includes/breadcrumbs.html' %}

<div class="row">
  <div class="col-sm-10">
  <h2 class="sponsorship-title">Thank you to our NPC17 Sponsors</h2>
  <h3 class="headline-underline">Level 1 Platinum Sponsors</h3>
  <div class="sponsorship large">
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
  </div>

  <h3 class="headline-underline">Level 2 Gold Sponsors</h3>
  <div class="sponsorship medium">
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
  </div>

  <h3 class="headline-underline">Level 3 Silver Sponsors</h3>
  <div class="sponsorship small">
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
  </div>

  <h3 class="headline-underline">Level 4 Bronze Sponsors</h3>
  <div class="sponsorship x-small">
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
  </div>

</div>

{% endblock %}
