{% extends 'newtheme/templates/layout-pattern-library.html' %}

{% block title %}APA Conference Pattern Library - Sponsors{% endblock %}

{% block introduction %}{% endblock %}

{% block patterns %}

<section class="pl-section">
  <h2 class="pl-h2">Sponsorship heading</h2>
  <h3 class="pl-h3">example:</h3>

  <h2 class="sponsorship-title">Thank you to our NPC17 Sponsors</h2>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;h2 class="sponsorship-title"&gt;Thank you to our NPC17 Sponsors&lt;/h2&gt;
  </code></pre>

  <h2 class="pl-h2">Sponsorship Level 1</h2>
  <h3 class="pl-h3">example:</h3>

  <h3 class="headline-underline">Level 1 Platinum Sponsors</h3>
  <div class="sponsorship large">
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;h3 class="headline-underline"&gt;Level 1 Platinum Sponsors&lt;/h3&gt;
  &lt;div class="sponsorship large"&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
  &lt;/div&gt;
  </code></pre>

  <h2 class="pl-h2">Sponsorship Level 2</h2>
  <h3 class="pl-h3">example:</h3>

  <h3 class="headline-underline">Level 2 Gold Sponsors</h3>
  <div class="sponsorship medium">
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;h3 class="headline-underline"&gt;Level 2 Gold Sponsors&lt;/h3&gt;
  &lt;div class="sponsorship medium"&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
  &lt;/div&gt;
  </code></pre>


  <h2 class="pl-h2">Sponsorship Level 3</h2>
  <h3 class="pl-h3">example:</h3>

  <h3 class="headline-underline">Level 3 Silver Sponsors</h3>
  <div class="sponsorship small">
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;h3 class="headline-underline"&gt;Level 3 Silver Sponsors&lt;/h3&gt;
  &lt;div class="sponsorship small"&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
  &lt;/div&gt;
  </code></pre>


  <h2 class="pl-h2">Sponsorship Level 4</h2>
  <h3 class="pl-h3">example:</h3>

  <h3 class="headline-underline">Level 4 Bronze Sponsors</h3>
  <div class="sponsorship x-small">
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
    <div class="sponsorship-item"><img src="//placehold.it/417x159" class="img-responsive"></div>
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;h3 class="headline-underline"&gt;Level 4 Bronze Sponsors&lt;/h3&gt;
  &lt;div class="sponsorship x-small"&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
  &lt;/div&gt;
  </code></pre>

  <h2 class="pl-h2">All Together</h2>
  <h3 class="pl-h3">example:</h3>

  <pre><code class="html">
  &lt;h2 class="sponsorship-title"&gt;Thank you to our NPC17 Sponsors&lt;/h2&gt;

  &lt;h3 class="headline-underline"&gt;Level 1 Platinum Sponsors&lt;/h3&gt;
  &lt;div class="sponsorship large"&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
  &lt;/div&gt;

  &lt;h3 class="headline-underline"&gt;Level 2 Gold Sponsors&lt;/h3&gt;
  &lt;div class="sponsorship medium"&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
  &lt;/div&gt;

  &lt;h3 class="headline-underline"&gt;Level 3 Silver Sponsors&lt;/h3&gt;
  &lt;div class="sponsorship small"&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
  &lt;/div&gt;

  &lt;h3 class="headline-underline"&gt;Level 4 Bronze Sponsors&lt;/h3&gt;
  &lt;div class="sponsorship x-small"&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
    &lt;div class="sponsorship-item"&gt;&lt;img src="//placehold.it/417x159" class="img-responsive"&gt;&lt;/div&gt;
  &lt;/div&gt;
  </code></pre>

</section>

{% endblock %}
