{% extends 'newtheme/templates/conference/page-nosidebar.html' %}
{% load static %}

{% block content_main %}
{% include 'newtheme/templates/conference/includes/page-head.html' %}

<div class="session-detail-page">
  <div class="session-detail-page-body">
    <div class="col-sm-9 session-detail-page-body-main">
      <!-- Session Detail Title -->
      <div class="session-detail-title">
        <h2>Saturday, May 6, 2017 from 10:45 a.m. – 12:00 p.m.</h2>
      </div>

      <!-- Session Details -->
      <div class="session-detail-body-details">
        <div class="session-detail-body-detail">
          <p class="session-detail-body-location"><strong>Location:</strong> Javitas Center Hall Rm: 205</p>
          <p>
            <span class="cm-wrapper">
              <span class="cm">CM | </span><span class="cmpoints">1.25 | </span><span class="cmcredits">Law (.5)</span>
            </span>
          </p>
          <p class="session-detail-body-cost"><strong>Cost:</strong> Included in Registration</p>
          <p class="session-detail-body-cost"><strong>Format:</strong> Sessions & Discussions</p>
          <p class="session-detail-body-cost"><strong>Ticket:</strong> Included in Registration</p>
          <p class="session-detail-body-cost strong">Session ID: 52341</p>
        </div>
      </div>

      <!-- mobile schedule widget -->
      <div class="mobile-schedule-widget">
        <div class="view-schedule-widget">
          <h3>WANT TO ATTEND THIS SESSION?</h3>
          <p class="small">Log in and add it your NPC 2018 schedule.</p>
          <div class="view-schedule-widget-links">
            <a href="#" class="btn btn-primary view-schedule-widget-link">Log in now</a>
            <div class="view-schedule-widget-links-account-block view-schedule-widget-link">
              <div>Don't have an account?</div>
              <a href="#">Create one now.</a>
            </div>
          </div>
        </div>
        <div class="view-schedule-widget">
          <h3>PLANNING YOUR VISIT?</h3>
          <p class="small">Access the entire  NPC 2018 program. <a href="#">Download PDF</a></p>
        </div>
      </div>

      <!-- Session Description -->
      <div class="session-detail-body-description">
        <h3 class="headline-underline">In this session, You’ll Learn:</h3>
        <ul>
          <li><strong>How to implement a plan by bringing together the existing community and the development community</strong> to work together to activate an over looked space</li>
          <li><strong>Proven steps towards leveraging community programming</strong> in targeted spaces in an effort to draw in outside investment</li>
          <li><strong>A new model for Community Development Corporations</strong> and developers working together in emerging urban markets</li>
        </ul>
      </div>

      <!-- Session Speakers -->
      <div class="session-detail-body-description-speakers color-orange">
        <h2 class="headline-underline">Session Speakers</h2>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="content-preview-item">
              <div class="content-preview-item-image-floated">
                <img src="//placehold.it/71x71" class="img-responsive">
              </div>
              <p><a href="#">Kevin Write</a><br>
              Kentucky Plan Partners, Inc.<br>
              Bellevue, KY</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="content-preview-item">
              <div class="content-preview-item-image-floated no-image">

              </div>
              <p><a href="#">Joseph Nickol, AICP, MKSK</a><br>
              Nick-Jo International, Inc.<br>
              Covington, KY</p>
            </div>
          </div>
        </div>
      </div>

      <!-- More Session Details -->
      <h3 class="headline-underline">More Session details</h3>
      <div class="session-detail-body-description-more">
        <p>Too often, community members and commercial developers seem like they’re playing for opposing teams. What is more, the level of subsidy being sought for urban projects, despite a proven market, is unsustainable for cities. A fundamentally different development model is emerging that proves demand to justify supply rather than subsidizing supply for the hope of attracting demand. A new neighborhood playbook is needed that enables communities and developers to come together to activate a space (demonstrate demand) on the way to developing a place (building supply).</p>
        <p>This session will share lessons from neighborhood regeneration efforts where strategic and targeted neighborhood reactivation efforts have yielded extraordinary results. Cincinnati’s Walnut Hills is flipping old models on their heads and regenerating use of a time-honored, two-stage process of demand creation and supply development. Here, the ‘demand building’ phase began in an overlooked convergence of rear lanes, leading to the creation of Five Points Alley. This has sparked several development projects. In another example, Covington, Kentucky's Madlot helped spawn a whole new wave of investment. “Build it and they will come” is yielding to “come and let’s build something together.” This session takes a principled approach to how these lessons may be tailored to neighborhood development efforts nationwide.</p>
        <div class="session-detail-list-of-links">
          <div class="link-item"><a href="#">Download Presentation Materials (PDF download)</a></div>
          <div class="link-item">Track 1: <a href="#">From Climate Change to Resilience</a></div>
          <div class="link-item">Tags: <a href="#">Tag1,</a> <a href="#">Tag2,</a> <a href="#">Tag3,</a></div>
        </div>
      </div>

      <!-- Session Detail Buttons -->
      <div class="session-detail-buttons">
        <a class="btn btn-primary" href="#">Remove From Schedule</a>
        <a class="btn btn-primary" disabled href="#">Log CM Credit</a>
        <div class="session-detail-buttons-notice">
          Don't have an account? <a href="#">Create one now.</a>
        </div>
      </div>

    </div>
    <div class="col-sm-3 desktop-schedule-widget">
      <div class="view-schedule-widget">
        <h3>WANT TO ATTEND THIS SESSION?</h3>
        <p class="small">Log in and add it your NPC 2018 schedule.</p>
        <div class="view-schedule-widget-links">
          <a href="#" class="btn btn-primary view-schedule-widget-link">Log in now</a>
          <div class="view-schedule-widget-links-account-block view-schedule-widget-link">
            <div>Don't have an account?</div>
            <a href="#">Create one now.</a>
          </div>
        </div>
      </div>
      <div class="view-schedule-widget">
        <h3>PLANNING YOUR VISIT?</h3>
        <p class="small">Access the entire  NPC 2018 program. <a href="#">Download PDF</a></p>
      </div>
    </div>
  </div><!-- session-page-body end -->
  <div class="session-detail-footer">
    <div class="row">
      <div class="col-12">
        <!--<div class="quick-links-block">
          <h2 class="headline-underline">Quick Links</h2>
          <a href="#" class="btn btn-primary quick-links-button session-detail-footer-quick-links-button">Register for NPC18 now</a>
          <div class="list-of-links list-of-links-small quick-links">
            <h4><a href="#">View Full Program</a></h4>
            <h4><a href="#">View All Tracks</a></h4>
            <h4><a href="#">View My Schedule</a></h4>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>

{% endblock %}
