{% extends 'newtheme/templates/layout-pattern-library.html' %}

{% block title %}APA Conference Pattern Library{% endblock %}

{% block introduction %}{% endblock %}

{% block patterns %}

<section class="pl-section">
  <h2 class="pl-h2">2 column layout</h2>
  <h3 class="pl-h3">example:</h3>

  <a href="/template_app/sandbox/pattern-library-conference/sponsorship/">Example</a>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;div class="row"&gt;
    &lt;div class="col-sm-9"&gt;
      left column
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>

  <h2 class="pl-h2">2 column layout, empty right column</h2>
  <h3 class="pl-h3">example:</h3>

  <a href="/template_app/sandbox/pattern-library-conference/session-detail/">Example</a>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;div class="row"&gt;
    &lt;div class="col-sm-9"&gt;
      left column
    &lt;/div&gt;
    &lt;div class="col-sm-3"&gt;
      right column
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>

</section>

{% endblock %}
