{% extends 'newtheme/templates/layout-pattern-library.html' %}

{% block title %}APA Conference Pattern Library{% endblock %}

{% block introduction %}{% endblock %}

{% block patterns %}

<section class="pl-section">
  <h1 class="pl-h1">Conference Patterns</h1>

  <h2 class="pl-h2">Conference Track page head</h2>
  <h3 class="pl-h3">example:</h3>

  <div class="page-subhead row">
    <div class="col-sm-8 col-lg-9">
      <h2>
        A conference within a conference
      </h2>
      <p>
        Each track is a series of sessions and activities focused on emerging issues and guides to planning practice. Follow one track throughout the conference or pick and choose from a variety.
      </p>
    </div>
    <div class="col-sm-4 col-lg-3">
      <div class="view-schedule-widget">
        <h3>Ready to create your NPC 2018 Schedule?</h2>
        <p class="small">Log in to see the entire conference program and create your NPC 2018 schedule</p>
        <div class="view-schedule-widget-links">
          <a href="#" class="btn btn-primary view-schedule-widget-link">Log In to Your Schedule</a>
          <div class="view-schedule-widget-links-account-block view-schedule-widget-link">
            <div>Don't have an account?</div>
            <a href="#">Create one now.</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;div class="page-subhead row"&gt;
    &lt;div class="col-sm-8 col-lg-9"&gt;
      &lt;h2&gt;
        A conference within a conference
      &lt;/h2&gt;
      &lt;p&gt;
        Each track is a series of sessions and activities focused on emerging issues and guides to planning practice. Follow one track throughout the conference or pick and choose from a variety.
      &lt;/p&gt;
    &lt;/div&gt;
    &lt;div class="col-sm-4 col-lg-3"&gt;
      &lt;div class="view-schedule-widget"&gt;
        &lt;h3&gt;Ready to create your NPC 2018 Schedule?&lt;/h2&gt;
        &lt;p class="small"&gt;Log in to see the entire conference program and create your NPC 2018 schedule&lt;/p&gt;
        &lt;div class="view-schedule-widget-links"&gt;
          &lt;a href="#" class="btn btn-primary view-schedule-widget-link"&gt;Log In to Your Schedule&lt;/a&gt;
          &lt;div class="view-schedule-widget-links-account-block view-schedule-widget-link"&gt;
            &lt;div&gt;Don't have an account?&lt;/div&gt;
            &lt;a href="#"&gt;Create one now.&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>

<!-- Tracks Pattern -->
  <h2 class="pl-h2">Conference Track</h2>

  <h3 class="pl-h3">description:</h3>
  <div class="pl-description">
    <p>Conference track for the tracks page.</p>
  </div>

  <h2 class="pl-h2">Track Content</h2>
  <h3 class="pl-h3">example:</h3>
  <!-- Tracks -->
  <div class="conference-track-content-row">
      <div class="conference-track-content">
        <div class="conference-track-content-head">
          <div class="conference-track-content-head-title">
            <div class="conference-track-content-head-title-track">
              Track 1:
            </div>
            <div class="conference-track-content-head-title-track-subject">
              From Climate Change to Resiliency
            </div>
          </div>
          <div class="conference-track-content-head-image">
            <img src="//placehold.it/353x190" />
          </div>
        </div>
        <div class="conference-track-content-body">
          <div class="h3 strong">Several themes will be pursued in this track.</div>
          <div class="accordion">
            <div class="accordion-handle">
              Read Track 1 description
            </div>
            <div class="accordion-content">
              <p><strong>First:</strong> Sea-level rise and coastal cities and infrastructure. The enormity of the issue will be examined in terms of the vulnerability of major coastal cities.</p>
              <p><strong>Second:</strong> Extreme weather and changing weather cycles that require planners and their communities to be prepared to deal with hazards.</p>
              <p><strong>Third:</strong> How resilience can mean not only withstanding natural hazards but also adapting to economic and other changes — whether sudden or gradual. Managing and planning for water will be addressed throughout.</p>
            </div>
          </div>
          <a class="view-track-link" href="#">View Track 1 Related Ressions</a>
        </div>
      </div>

      <div class="conference-track-content">
        <div class="conference-track-content-head">
          <div class="conference-track-content-head-title">
            <div class="conference-track-content-head-title-track">
              Track 2:
            </div>
            <div class="conference-track-content-head-title-track-subject">Managing Change in Communities</div>
          </div>
          <div class="conference-track-content-head-image">
            <img src="//placehold.it/353x190" />
          </div>
        </div>
        <div class="conference-track-content-body">
          <div class="h3 strong">Several themes will be pursued in this track.</div>
          <div class="accordion">
            <div class="accordion-handle">
              Read Track 2 description
            </div>

            <div class="accordion-content">
              <p>New technology tools have made urban design concepts accessible to the public and strengthened planners' role in design. Design is also an interdisciplinary undertaking and presentations examine how planning contributes and functions within this context. What skills do you need to get on the team and how do you need to function once you are on the team?</p>

              <p>This topic also may address collective impact and cross-sector partnerships. Sessions will help prepare planners for workforce changes.</p>
            </div>
          </div>

          <a class="view-track-link" href="#">View Track 2 Related Ressions</a>
        </div>
      </div>

      <div class="conference-track-content">
        <div class="conference-track-content-head">
          <div class="conference-track-content-head-title">
            <div class="conference-track-content-head-title-track">
              Track 3:
            </div>
            <div class="conference-track-content-head-title-track-subject">Transportation</div>
          </div>
        </div>
        <div class="conference-track-content-body">
          <div class="h3 strong">Several themes will be pursued in this track.</div>

          <div class="accordion">
            <div class="accordion-handle">
              Read Track 3 description
            </div>
            <div class="accordion-content">
              <p>Disruption comes in many forms, from the evolving "sharing economy," to technological inventions like mobile apps and fracking, to new lifestyle choices.</p>

              <p>This track explores everything from new locales for winemaking, hip and attractive small towns, casinos, and increased personal choices enabled by technological inventions. These rapidly evolving phenomena are inventing new opportunities and creating new challenges for communities.</p>

              <p>What's next? How are communities responding constructively?</p>
            </div>
          </div>

          <a class="view-track-link" href="#">View Track 3 Related Ressions</a>
        </div>
      </div>

      <div class="conference-track-content">
        <div class="conference-track-content-head">
          <div class="conference-track-content-head-title">
            <div class="conference-track-content-head-title-track">
              Track 4:
            </div>
            <div class="conference-track-content-head-title-track-subject">Planning and Innovative Government</div>
          </div>
        </div>
        <div class="conference-track-content-body">
          <div class="h3 strong">Several themes will be pursued in this track.</div>

          <div class="accordion">
            <div class="accordion-handle">
              Read Track 4 description
            </div>
            <div class="accordion-content">
              <p><strong>First:</strong> Sea-level rise and coastal cities and infrastructure. The enormity of the issue will be examined in terms of the vulnerability of major coastal cities.</p>

              <p><strong>Second:</strong> Extreme weather and changing weather cycles that require planners and their communities to be prepared to deal with hazards.</p>

              <p><strong>Third:</strong> How resilience can mean not only withstanding natural hazards but also adapting to economic and other changes — whether sudden or gradual. Managing and planning for water will be addressed throughout.</p>
            </div>
          </div>

          <a class="view-track-link" href="#">View Track 1 Related Ressions</a>
        </div>
      </div>

      <div class="conference-track-content">
        <div class="conference-track-content-head">
          <div class="conference-track-content-head-title">
            <div class="conference-track-content-head-title-track">
              Track 5:
            </div>
            <div class="conference-track-content-head-title-track-subject">Public Health and Planning</div>
          </div>
          <div class="conference-track-content-head-image">
            <img src="//placehold.it/353x190" />
          </div>
        </div>
        <div class="conference-track-content-body">
          <div class="h3 strong">Several themes will be pursued in this track.</div>

          <div class="accordion">
            <div class="accordion-handle">
              Read Track 5 description
            </div>
            <div class="accordion-content">
              <p>New technology tools have made urban design concepts accessible to the public and strengthened planners' role in design. Design is also an interdisciplinary undertaking and presentations examine how planning contributes and functions within this context. What skills do you need to get on the team and how do you need to function once you are on the team?</p>

              <p>This topic also may address collective impact and cross-sector partnerships. Sessions will help prepare planners for workforce changes.</p>
            </div>
          </div>

          <a class="view-track-link" href="#">View Track 2 Related Ressions</a>
        </div>
      </div>

      <div class="conference-track-content">
        <div class="conference-track-content-head">
          <div class="conference-track-content-head-title">
            <div class="conference-track-content-head-title-track">
              Track 6:
            </div>
            <div class="conference-track-content-head-title-track-subject">Urban Design and Preservation</div>
          </div>
        </div>
        <div class="conference-track-content-body">
          <div class="h3 strong">Several themes will be pursued in this track.</div>

          <div class="accordion">
            <div class="accordion-handle">
              Read Track 6 description
            </div>
            <div class="accordion-content">
              <p>Disruption comes in many forms, from the evolving "sharing economy," to technological inventions like mobile apps and fracking, to new lifestyle choices.</p>

              <p>This track explores everything from new locales for winemaking, hip and attractive small towns, casinos, and increased personal choices enabled by technological inventions. These rapidly evolving phenomena are inventing new opportunities and creating new challenges for communities.</p>

              <p>What's next? How are communities responding constructively?</p>
            </div>
          </div>

          <a class="view-track-link" href="#">View Track 3 Related Ressions</a>
        </div>
      </div>

  </div>
  <!-- Tracks end-->

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;div class="conference-track-content-row"&gt;

    &lt;div class="conference-track-content"&gt;
      &lt;div class="conference-track-content-head"&gt;
        &lt;div class="conference-track-content-head-title"&gt;
          &lt;div class="conference-track-content-head-title-track"&gt;
            Track 1:
          &lt;/div&gt;
          &lt;div class="conference-track-content-head-title-track-subject"&gt;
            Heading
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="conference-track-content-head-image"&gt;
          &lt;img src="//placehold.it/353x190" /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="conference-track-content-body"&gt;
        &lt;div class="h3 strong"&gt;SubHeading.&lt;/div&gt;
        &lt;div class="accordion"&gt;
          &lt;div class="accordion-handle"&gt;
            Read Track 1 description
          &lt;/div&gt;
          &lt;div class="accordion-content"&gt;
            &lt;p&gt;&lt;strong&gt;First:&lt;/strong&gt; Content goes here.&lt;/p&gt;
            &lt;p&gt;&lt;strong&gt;Second:&lt;/strong&gt; Content goes here.&lt;/p&gt;
            &lt;p&gt;&lt;strong&gt;Third:&lt;/strong&gt; Content goes here.&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;a class="view-track-link" href="#"&gt;View Track 1 Related Ressions&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class="conference-track-content"&gt;
    ...
    &lt;/div&gt;

  &lt;/div&gt;
  </code></pre>
<!-- / Tracks Pattern -->
<!-- Quick Links 
  <h2 class="pl-h2">Quick Links</h2>
  <h3 class="pl-h3">example:</h3>

  <div class="quick-links-block">
    <h2 class="headline-underline">Quick Links</h2>
    <a href="#" class="btn btn-primary quick-links-button">Register for NPC18 now</a>
    <div class="list-of-links list-of-links-small quick-links">
      <h4><a href="#">View Full Program</a></h4>
      <h4><a href="#">View All Tracks</a></h4>
      <h4><a href="#">View My Schedule</a></h4>
    </div>
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;div class="quick-links-block"&gt;
    &lt;h2 class="headline-underline"&gt;Quick Links&lt;/h2&gt;
    &lt;a href="#" class="btn btn-primary quick-links-button"&gt;Button 1&lt;/a&gt;
    &lt;div class="list-of-links list-of-links-small quick-links"&gt;
      &lt;h4&gt;&lt;a href="#"&gt;Link 1&lt;/a&gt;&lt;/h4&gt;
      &lt;h4&gt;&lt;a href="#"&gt;Link 1&lt;/a&gt;&lt;/h4&gt;
      &lt;h4&gt;&lt;a href="#"&gt;LInk 3&lt;/a&gt;&lt;/h4&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>-->
<!-- /Quick Links -->
<!-- View Schedule Widget 
  <h2 class="pl-h2">View Schedule Widget</h2>
  <h3 class="pl-h3">example:</h3>

  <div class="row">
    <div class="col-xs-12 col-sm-5 col-lg-4">
      <div class="view-schedule-widget">
        <h3>Ready to create your NPC 2018 Schedule?</h2>
        <p class="small">Log in to see the entire conference program and create your NPC 2018 schedule</p>
        <div class="view-schedule-widget-links">
          <a href="#" class="btn btn-primary view-schedule-widget-link">Log In to Your Schedule</a>
          <div class="view-schedule-widget-links-account-block view-schedule-widget-link">
            <div>Don't have an account?</div>
            <a href="#">Create one now.</a>
          </div>
        </div>
      </div>
    </div>
  </div>-->

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;div class="view-schedule-widget"&gt;
    &lt;h3&gt;Ready to create your NPC 2018 Schedule?&lt;/h2&gt;
    &lt;p class="small"&gt;Log in to see the entire conference program and create your NPC 2018 schedule&lt;/p&gt;
    &lt;div class="view-schedule-widget-links"&gt;
      &lt;a href="#" class="btn btn-primary view-schedule-widget-link"&gt;Log In to Your Schedule&lt;/a&gt;
      &lt;div class="view-schedule-widget-links-account-block view-schedule-widget-link"&gt;
        &lt;div&gt;Don't have an account?&lt;/div&gt;
        &lt;a href="#"&gt;Create one now.&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>
<!-- /View Schedule Widget -->

<!-- Registration Rates -->
  <h2 class="pl-h2">Registration Rates</h2>
  <h3 class="pl-h3">example:</h3>

  <h3 class="headline-underline">Memeber Rates</h3>
  <div class="registration-rate-row">
    <div class="registration-rate-content">
      <h2 class="headline-underline">APA Memebers & Speakers</h2>
      <p class="strong">General Admission Ticket $500</p>
      <p>This ticket is for APA members and planning industry students.</p>
      <p>It includes the following:
        <ul>
          <li>benefit 1</li>
          <li>benefit 2</li>
          <li>benefit 3</li>
        </ul>
      </p>
      <p>Additional fees may apply to ticketed events.</p>
      <a href="#" class="btn btn-primary">Register Now</a>
    </div>

    <div class="registration-rate-content">
      <h2 class="headline-underline">Discounted Registration</h2>
      <p class="strong">Discounted Admission Ticket $400</p>
      <p>Attendees are eligible for a discounted rate if they are: Retired, part of the Life program, or part of the Early Career Membership Program</p>
      <p>It includes the following:
        <ul>
          <li>benefit 1</li>
          <li>benefit 2</li>
          <li>benefit 3</li>
        </ul>
      </p>
      <p>Additional fees may apply to ticketed events.</p>
      <a href="#" class="btn btn-primary">Register Now</a>
    </div>
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;h3 class="headline-underline"&gt;Memeber Rates&lt;/h3&gt;

  &lt;div class="registration-rate-row"&gt;

    &lt;div class="registration-rate-content"&gt;
      &lt;h2 class="headline-underline"&gt;APA Memebers &amp; Speakers&lt;/h2&gt;
      &lt;p class="strong"&gt;General Admission Ticket $500&lt;/p&gt;
      &lt;p&gt;This ticket is for APA members and planning industry students.&lt;/p&gt;
      &lt;p&gt;It includes the following:
        &lt;ul&gt;
          &lt;li&gt;benefit 1&lt;/li&gt;
          &lt;li&gt;benefit 2&lt;/li&gt;
          &lt;li&gt;benefit 3&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/p&gt;
      &lt;p&gt;Additional fees may apply to ticketed events.&lt;/p&gt;
      &lt;a href="#" class="btn btn-primary"&gt;Register Now&lt;/a&gt;
    &lt;/div&gt;

    &lt;div class="registration-rate-row"&gt;
    ...
    &lt;/div&gt;

  &lt;/div&gt;
  </code></pre>
<!-- / Registration Rates -->

</section>


{% endblock %}
