{% extends 'newtheme/templates/layout-pattern-library.html' %}
{% load static %}
{% block title %}APA Conference Pattern Library - Homepage{% endblock %}

{% block introduction %}{% endblock %}

{% block patterns %}

<section class="pl-section">
  <h2 class="pl-h2">Conference Highlights</h2>
  <h3 class="pl-h3">example:</h3>

  <p class="h2 serif-family full-center breathing-room">NPC18 Conference Highlights</p>

  <div class="homepage-featured-content-secondary-row">
    <!-- <div class="col-sm-4"> -->
      <div class="homepage-featured-content-secondary color-blue">
        <div class="homepage-featured-content-secondary-image">
          <img src="//placehold.it/800x360" />
        </div>
        <div class="homepage-featured-content-secondary-body">
          <h2 class="headline-underline">Guided Tracks</h2>
          <h3>A conference within a conference</h3>
          <p>Each track is a series of sessions focused on emerging issues and guides to planning practice.</p>
          <a class="read-more-link" href="#">View All Guided Tracks</a>
        </div>
      </div>

    <!-- </div> -->
    <!-- <div class="col-sm-4"> -->
      <div class="homepage-featured-content-secondary color-red">
        <div class="homepage-featured-content-secondary-image">
          <img src="//placehold.it/800x360" />
        </div>
        <div class="homepage-featured-content-secondary-body">
          <h2 class="headline-underline">Featured Session</h2>
          <h3>Advanced workshop</h3>
          <p>
            <a class="plain-link" href="#">
              Modern Trends in GIS for Planners - Planning Sustainable Economic Development
            </a>
          </p>
          <a class="read-more-link" href="#">View All Conference Sessions</a>
        </div>
      </div>

    <!-- </div> -->
    <!-- <div class="col-sm-4"> -->
      <div class="homepage-featured-content-secondary color-orange">
        <div class="homepage-featured-content-secondary-image">
          <img src="//placehold.it/800x360" />
        </div>
        <div class="homepage-featured-content-secondary-body">

          <h2 class="headline-underline">Featured Event</h2>
          <h3>Date and time</h3>
          <p class="strong">
            Opening Keynote Speaker <a class="plain-link" href="#">Peter Leyden</a>
          </p>
          <p>
            Peter will be talking about <a class="plain-link" href="#">The Reinvention of America</a>.
          </p>
          <a class="read-more-link" href="#">View All Featured Events</a>
        </div>
      </div>


    <!-- </div> -->
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;p class="h2 serif-family full-center breathing-room"&lt;NPC18 Conference Highlights&lt;/p&lt;
  &lt;div class="homepage-featured-content-secondary-row"&lt;
    &lt;div class="homepage-featured-content-secondary color-blue"&lt;
      &lt;div class="homepage-featured-content-secondary-image"&lt;
        &lt;img src="//placehold.it/800x360" /&lt;
      &lt;/div&lt;
      &lt;div class="homepage-featured-content-secondary-body"&lt;
        &lt;h2 class="headline-underline"&lt;Guided Tracks&lt;/h2&lt;
        &lt;h3&lt;A conference within a conference&lt;/h3&lt;
        &lt;p&lt;Each track is a series of sessions focused on emerging issues and guides to planning practice.&lt;/p&lt;
        &lt;a class="read-more-link" href="#"&lt;View All Guided Tracks&lt;/a&lt;
      &lt;/div&lt;
    &lt;/div&lt;
    &lt;div class="homepage-featured-content-secondary color-red"&lt;
      &lt;div class="homepage-featured-content-secondary-image"&lt;
        &lt;img src="//placehold.it/800x360" /&lt;
      &lt;/div&lt;
      &lt;div class="homepage-featured-content-secondary-body"&lt;
        &lt;h2 class="headline-underline"&lt;Featured Session&lt;/h2&lt;
        &lt;h3&lt;Advanced workshop&lt;/h3&lt;
        &lt;p&lt;
          &lt;a class="plain-link" href="#"&lt;
            Modern Trends in GIS for Planners - Planning Sustainable Economic Development
          &lt;/a&lt;
        &lt;/p&lt;
        &lt;a class="read-more-link" href="#"&lt;View All Conference Sessions&lt;/a&lt;
      &lt;/div&lt;
    &lt;/div&lt;
    &lt;div class="homepage-featured-content-secondary color-orange"&lt;
      &lt;div class="homepage-featured-content-secondary-image"&lt;
        &lt;img src="//placehold.it/800x360" /&lt;
      &lt;/div&lt;
      &lt;div class="homepage-featured-content-secondary-body"&lt;

        &lt;h2 class="headline-underline"&lt;Featured Event&lt;/h2&lt;
        &lt;h3&lt;Date and time&lt;/h3&lt;
        &lt;p class="strong"&lt;
          Opening Keynote Speaker &lt;a class="plain-link" href="#"&lt;Peter Leyden&lt;/a&lt;
        &lt;/p&lt;
        &lt;p&lt;
          Peter will be talking about &lt;a class="plain-link" href="#"&lt;The Reinvention of America&lt;/a&lt;.
        &lt;/p&lt;
        &lt;a class="read-more-link" href="#"&lt;View All Featured Events&lt;/a&lt;
      &lt;/div&lt;
    &lt;/div&lt;
  &lt;/div&lt;
  </code></pre>

  <h2 class="pl-h2">Additional Highlight Callouts</h2>
  <h3 class="pl-h3">example:</h3>

  <div class="row">
    <div class="col-sm-4">
      <div class="homepage-featured-content-tertiary">
        <h2 class="headline-underline">CM / CEU Credits</h2>
        <p>
          Find out more about how to get CM credits for attending sessions.
        </p>
        <a class="read-more-link" href="#">View CM/CEU Credits</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="homepage-featured-content-tertiary">
        <h2 class="headline-underline">NPC18 APP</h2>
        <p>
          Callout for the NPC mobile app. (Placeholder)
        </p>
        <a class="read-more-link" href="#">Download the App</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="homepage-featured-content-tertiary">
        <h2 class="headline-underline">Exhibitor Hall</h2>
        <p>
          Explore hundreds of new products, services, and technology applications — all in one place!
        </p>
        <a class="read-more-link" href="#">Visit the Exhibitor Hall</a>
      </div>
    </div>
  </div>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;div class="row"&gt;
    &lt;div class="col-sm-4"&gt;
      &lt;div class="homepage-featured-content-tertiary"&gt;
        &lt;h2 class="headline-underline"&gt;CM / CEU Credits&lt;/h2&gt;
        &lt;p&gt;
          Find out more about how to get CM credits for attending sessions.
        &lt;/p&gt;
        &lt;a class="read-more-link" href="#"&gt;View CM/CEU Credits&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col-sm-4"&gt;
      &lt;div class="homepage-featured-content-tertiary"&gt;
        &lt;h2 class="headline-underline"&gt;NPC18 APP&lt;/h2&gt;
        &lt;p&gt;
          Callout for the NPC mobile app. (Placeholder)
        &lt;/p&gt;
        &lt;a class="read-more-link" href="#"&gt;Download the App&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col-sm-4"&gt;
      &lt;div class="homepage-featured-content-tertiary"&gt;
        &lt;h2 class="headline-underline"&gt;Exhibitor Hall&lt;/h2&gt;
        &lt;p&gt;
          Explore hundreds of new products, services, and technology applications — all in one place!
        &lt;/p&gt;
        &lt;a class="read-more-link" href="#"&gt;Visit the Exhibitor Hall&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code></pre>

  <h2 class="pl-h2">Sponsorship Carousel</h2>
  <h3 class="pl-h3">example:</h3>

  <div class="sponsor-carousel-wrap">
    <h2 class="sponsor-carousel-heading">Thanks to Our NPC18 Conference Sponsors</h2>

    <div class="sponsor-carousel">
      <div class="sponsor-carousel-slide">
        <div class="sponsor-carousel-image-wrap">
          <img class="sponsor-carousel-image" src="//placehold.it/600x400" />
        </div>
      </div>
      <div class="sponsor-carousel-slide">
        <div class="sponsor-carousel-image-wrap">
          <img class="sponsor-carousel-image" src="//placehold.it/600x400" />
        </div>
      </div>
      <div class="sponsor-carousel-slide">
        <div class="sponsor-carousel-image-wrap">
          <img class="sponsor-carousel-image" src="//placehold.it/600x400" />
        </div>
      </div>
      <div class="sponsor-carousel-slide">
        <div class="sponsor-carousel-image-wrap">
          <img class="sponsor-carousel-image" src="//placehold.it/600x400" />
        </div>
      </div>
      <div class="sponsor-carousel-slide">
        <div class="sponsor-carousel-image-wrap">
          <img class="sponsor-carousel-image" src="//placehold.it/600x400" />
        </div>
      </div>
    </div>
  </div>

  <p class="full-center">
    <a class="sponsor-carousel-read-more" href="#">Become a Sponsor</a>
  </p>

  <h3 class="pl-h3">code:</h3>
  <pre><code class="html">
  &lt;div class="sponsor-carousel-wrap"&gt;
    &lt;h2 class="sponsor-carousel-heading"&gt;Thanks to Our NPC18 Conference Sponsors&lt;/h2&gt;

    &lt;div class="sponsor-carousel"&gt;
      &lt;div class="sponsor-carousel-slide"&gt;
        &lt;div class="sponsor-carousel-image-wrap"&gt;
          &lt;img class="sponsor-carousel-image" src="//placehold.it/600x400" /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="sponsor-carousel-slide"&gt;
        &lt;div class="sponsor-carousel-image-wrap"&gt;
          &lt;img class="sponsor-carousel-image" src="//placehold.it/600x400" /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="sponsor-carousel-slide"&gt;
        &lt;div class="sponsor-carousel-image-wrap"&gt;
          &lt;img class="sponsor-carousel-image" src="//placehold.it/600x400" /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="sponsor-carousel-slide"&gt;
        &lt;div class="sponsor-carousel-image-wrap"&gt;
          &lt;img class="sponsor-carousel-image" src="//placehold.it/600x400" /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="sponsor-carousel-slide"&gt;
        &lt;div class="sponsor-carousel-image-wrap"&gt;
          &lt;img class="sponsor-carousel-image" src="//placehold.it/600x400" /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;p class="full-center"&gt;
    &lt;a class="sponsor-carousel-read-more" href="#"&gt;Become a Sponsor&lt;/a&gt;
  &lt;/p&gt;
  </code></pre>



</section>

{% endblock %}
{% block additional_body_js %}
{{ block.super }}
<script src="{% static 'newtheme/js/sponsor-carousel.js' %}"></script>
{% endblock %}