<div class="conference-ticket">
	<div class="text-huge margin-bottom">Greetings from San Francisco!</div>
	<div class="text-larger text-light margin-bottom">Channel your inner Picasso at the NPC19 coloring wall in the APA Plaza.</div>
	<div class="text-large text-light margin-bottom">A masterpiece in the making!</div>

	<br/>

	<div class="text-small text-light margin-bottom">While you’re there, drop this ticket into the entry box for a chance to win free registration to NPC19.</div>

	<div class="text-smaller text-light text-italic">Free registration valid only for NPC19 and is non-transferable. No purchase necessary. Need not be present to win. APA will notify winner after NPC18.</div>

	<div class="bottom-line">{{ticket.multipart_attendee.contact.full_title}} | {{ticket.multipart_attendee.contact.user.username}} {{ticket.multipart_attendee.contact.member_type|default_if_none:""}} | {{ticket.multipart_attendee.purchase.product_price.imis_reg_class}}</div>
</div>