<div class="conference-ticket">
	<div class="text-huge margin-bottom">Check out NPC18!</div>
	<div class="text-larger text-light margin-bottom">Strong Roots. Big Plans.</div>
	<div class="text-large text-light margin-bottom">New Orleans | April 21–24</div>

	<br/>

	<div class="text-small text-light margin-bottom">Visit the NPC18 booth in the Planning Expo on Sunday or Monday and say “cheese” to get a free New Orleans photo magnet!</div>
	<div class="text-small text-light margin-bottom">While you’re there, drop this ticket into the entry box for a chance to win free registration to NPC18!</div>

	<div class="text-smaller text-light text-italic">Free registration is valid only for NPC18 and is non-transferable. No purchase necessary. Need not be present to win. APA will notify winner after NPC17.</div>

	<div class="bottom-line">{{ticket.multipart_attendee.contact.full_title}} | {{ticket.multipart_attendee.contact.user.username}} {{ticket.multipart_attendee.contact.member_type|default_if_none:""}} | {{ticket.multipart_attendee.purchase.product_price.imis_reg_class}}</div>
</div>