<div class="conference-ticket">
	<div class="text-huge margin-bottom">Exhibitor Meet and Greet</div>
	<div class="text-larger text-light margin-bottom">Sunday, April 22, 5:15–6:45 p.m. Exhibit Hall</div>
	<div class="text-large text-light margin-bottom">Enjoy a drink on APA and mingle with fellow attendees! Bring this ticket for one beer, wine, or soda during the event.</div>

	<br/>

	<div class="text-small text-light text-italic">Valid only Sunday, April 22 between 5:15–6:45 p.m. in the Exhibit Hall. No cash value.</div>

	<div class="bottom-line">{{ticket.multipart_attendee.contact.full_title}} | {{ticket.multipart_attendee.contact.user.username}} {{ticket.multipart_attendee.contact.member_type|default_if_none:""}} | {{ticket.multipart_attendee.purchase.product_price.imis_reg_class}}</div>
</div>