{% extends 'newtheme/templates/layout-planning-magazine.html' %}
{% load static %}

{% block content_main %}
<div class="planning_article">

  <!-- Breadcrumbs -->
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/knowledgecenter/">Knowledge Center</a>
    </li>
    <li>
      <a href="/research/">APA Publications</a>
    </li>
    <li>
      <a href="/research/">Planning Magazine</a>
    </li>
  </ol>

  <!-- Title -->
  <div class="row top_title articles single-article-title">
    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
      <h6>Planning Magazine</h6>
      <h1>Is Fast Food Through With Drive-Thrus?</h1>
      <h3>Responding to pressures from consumers and planners, a new generation of fast-food restaurants is replacing the familiar cookie-cutter, car-centric prototype.</h3>
    </div>
  </div>

  <!-- share + category -->
  <div class="row share-category share-top">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 social-col">
        <h6>Share This Article</h6>
        <div class="addthis_inline_share_toolbox_4afs"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 article-type-col">
        <p>
          <a href="#">Intersections</a> Housing
        </p>
    </div>

  </div>

  <!-- hero image + caption  -->
  <div class="row hero-row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 remove-outside-gutter-mobile">
      <div class="image-block">
        <img src="//placehold.it/1165x655" alt="Article Hero Image" class="img-responsive"/>
        <div class="caption text-center">
          <p>The Taco Bell Cantina in Newport Beach, California, opened in 2017 and was the prototype for the chain’s new concept: restaurants with beer on tap and no drivethrough windows. Courtesy Taco Bell</p>
        </div>
      </div>
    </div>

  </div>

  <!-- article content -->
  <div class="row article-content">

    <div class="inner-content col-lg-10 col-lg-offset-1">

      <div class="content-preview-item content-preview-item-data-block part-of-row">
        <div class="content-preview-item-image-floated">
          <img src="//placehold.it/35" class="img-responsive"/>
        </div>
        <div class="content-preview-item-summary">
          <p>
            Part of the <a href="#">Disruptor Series</a>
          </p>
        </div>
      </div>

      <p class="article-date">January 4, 2021</p>
      <p class="article-byline"><i>By</i> <span>Brian Barth</span></p>

      <p>
        Along the Southern California coastline, a surfer’s paradise, it’s not hard to find a walk-up taqueria to grab a quick, inexpensive, and relatively healthy Mexican meal after a day in the sun. The typical vibe is airy and relaxed, with outdoor seating and splashes of sunset pastels on the walls and furnishings. A SoCal beachside taqueria is likely independently owned, or perhaps part of a small regional chain. Most of the oceanfront was developed decades ago and is subject to strict zoning rules and design standards that maintain an eclectic, pedestrian-friendly environment. This dining experience checks many of the boxes of the shop-local ethos, the long-ascendant trend, which, in 2017, Taco Bell decided it wanted to get in on.
      </p>

      <div class="homepage-featured-content-secondary mag-callout">
        <div class="homepage-featured-content-secondary-body">
          <div class="row nested-row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <img src="//placehold.it/113x143" class="img-responsive" alt="Planning magazine image"/>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-9">
              <h4>See the entire January issue of Planning Magazine</h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a href="#" class="btn btn-primary btn-download">Download Now</a>
            </div>
          </div>
        </div>
      </div>

      <p>
        That year, the company opened a prototype restaurant in Newport Beach—an upscale community in Orange County—with murals by local artists, no drive-through, and enormous windows that crank open to let in the balmy air of the Pacific. There is even beer on tap, including Beach Bell—a “Mexican-style amber lager,” according to the company, produced by a local microbrewery “specifically to complement the Taco Bell menu.”
      </p>

      <h2>H2 Evolution of fast food</h2>

      <p>
        The complicated love affair between America, fast food, and car culture stretches back nearly 100 years to 1921, with the opening of the first White Castle restaurant in Wichita, Kansas. The first White Castle drive-through did not come along until six decades later, but the chain was a product of car culture nonetheless. The company’s thriving burger business mirrored the booming sales of the Model T Ford; Americans, newly liberated by the world’s first affordable automobile, flocked to White Castle, which was built around the then-novel idea of food to go. Moreover, the restaurant itself took a cue from Henry Ford’s assembly lines: The meals were produced quickly and uniformly, with an identical experience provided at every location.
      </p>

      <div class="article-data-block row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="content-preview-item content-preview-item-data-block">
            <div class="content-preview-item-image-floated">
              <img src="//placehold.it/144x144" />
            </div>
            <div class="content-preview-item-summary">
              <b class="data">90%</b>
              <p>
                White Castle, considered the nation’s first modern fast-food restaurant, opens in Wichita, Kansas.
              </p>
            </div>
          </div>

          <div class="content-preview-item content-preview-item-data-block content-preview-item-data-block-image-floated-reverse">
            <div class="content-preview-item-image-floated">
              <img src="//placehold.it/144x144" />
            </div>
            <div class="content-preview-item-summary">
              <b class="data">90%</b>
              <p>
                White Castle, considered the nation’s first modern fast-food restaurant, opens in Wichita, Kansas.
              </p>
            </div>
          </div>

          <div class="content-preview-item content-preview-item-data-block content-preview-item-data-block-underline">
            <div class="content-preview-item-summary">
              <b class="data">90%</b>
              <p>
                White Castle, considered the nation’s first modern fast-food restaurant, opens in Wichita, Kansas.
              </p>
            </div>
          </div>
        </div>
      </div>

      <h2>Design Challanges</h2>

      <p>
        As a reliable generator of sales tax revenue, and as a provider of jobs for those who might otherwise struggle to find employment, fast food has long had an upper hand in arguing for the lax land-use regulations that enable the strip-style development pattern that favors drive-through businesses. As urban design ideals and best practices have shifted to embrace walkability and “Main Street”
      </p>
      <!-- Content callout example -->
      <div class="content-preview-item layout-tracery content-callout">
          <div class="layout-column">
              <div class="content-preview-item-image-floated">
                  <img alt="" class="planning-media" data-content-id="699301" src="https://planning-org-uploaded-media.s3.amazonaws.com:443/image/Planning-2021-04-image23v2.gif" title="Planning Spring 2021 Public Realm">
              </div>
              <h4 class="content-preview-item-headline">Further Impacts: Public Realm</h4>
              <div class="content-preview-item-summary">
                  Social media organizing is influencing popular awareness and eliciting responses from governments and organizations. Public dialogues are often simultaneously manifested in public spaces.
              </div>
              <h6>See Also:</h6>
              <div class="content-preview-item-summary"><a href="#">7 Emerging Tips for Equitable Digital Engagement</a>: Despite the ever-present digital divide, inclusive public outreach and social distancing are not mutually exclusive.<br>
                  <br>
                  <a href="#">Keeping It Legal on Social</a>: Social media is a great way to engage residents and disseminate information, but it poses several legal risks that public agencies need to understand.
              </div>
          </div>
      </div>
        <!-- sample buffer text added -->
        <p>
          As a reliable generator of sales tax revenue, and as a provider of jobs for those who might otherwise struggle to find employment, fast food has long had an upper hand in arguing for the lax land-use regulations that enable the strip-style development pattern that favors drive-through businesses. As urban design ideals and best practices have shifted to embrace walkability and “Main Street”
        </p>
      <!-- content callout example END -->
      <div class="article-content-breakout">
        <div class="row">
          <div class="col-sm-6">
            <div class="image-block">
              <img src="//placehold.it/566x566">
              <div class="caption">
                <p>
                  Aerial view of the port of Redwood City in San Mateo County, California. Photo from U.S. Army Corps of Engineers Digital Visual Library.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="image-block">
              <img src="//placehold.it/566x566">
              <div class="caption">
                <p>
                  Aerial view of the port of Redwood City in San Mateo County, California. Photo from U.S. Army Corps of Engineers Digital Visual Library.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p>
        immediately catch fire with the other fast-food chains that were emerging. McDonald’s did not open its first drive-through until 1975, in Sierra Vista, Arizona. Sales increased dramatically, and within five years, more than half of McDonald’s locations had drive-throughs, a trend that swept through the rest of the industry. Today, about 70 percent of all fast-food sales in America takes place at drive-through windows.
      </p>

      <blockquote>
        ‘It’s a fight between “I want my burger cheap and I want it now” and “I want to eat it in a beautiful, walkable environment.” That’s the planner’s dilemma.’
        <p class="attribution">
          &ndash;Terry Shook, Shook
        </p>
      </blockquote>

      <p>
        “Urbanization, white flight, the interstate highway system, commuting to work: fast food is a product of all these forces,” says Adam Chandler, a journalist whose 2019 book Drive-Thru Dreams: A Journey Through the Heart of America’s Fast-Food Kingdom trains a sociohistorical lens on the subject. “By the late ’80s, wage stagnation and the rise of two-income households meant people wanted to devote less and less time to cooking and eating, which cemented the drive-through as a very specifically American aspect of car culture.”
      </p>

      <div class="row pm-ad-interrupter">
        <div class="col-md-12 col-sm-12 text-center">
          <div class="banner-ad banner-ad-leaderboard">
            <p class="pm-ad-interrupter-notice">
              Article continues after advertisement
            </p>
            <script type="text/javascript">

            sas.call("std", {
              siteId: 80676, //
              pageId: 584791, // Page : Planning.org/apa
              formatId: 34985, // Format : APA - Footer (728x90) 728x90
              target: '' // Targeting
            });

            </script>

            <noscript>
              <a href="https://www5.smartadserver.com/ac?jump=1&nwid=1541&siteid=80676&pgname=apa&fmtid=34985&visit=m&tmstp=[timestamp]&out=nonrich" target="_blank">
                <img src="https://www5.smartadserver.com/ac?out=nonrich&nwid=1541&siteid=80676&pgname=apa&fmtid=34985&visit=m&tmstp=[timestamp]" border="0" alt="" />

              </a>
            </noscript>
          </div>
        </div>
      </div>

      <h2>Design challenges</h2>

      <p>
        As a reliable generator of sales tax revenue, and as a provider of jobs for those who might otherwise struggle to find employment, fast food has long had an upper hand in arguing for the lax land-use regulations that enable the strip-style development pattern that favors drive-through businesses. As urban design ideals and best practices have shifted to embrace walkability and “Main Street” aesthetics, some communities have fought back with antisprawl initiatives, often limiting drive-throughs, and the large signage associated with them, to specific areas. But more and more are targeting drive-through restaurants with blanket, citywide bans pushed through on the basis of both urban planning and public health principles.
      </p>

      <div class="article-content-breakout">
        <div class="row">
          <div class="col-sm-6">
            <div class="image-block">
              <img src="//placehold.it/566x566">
              <div class="caption">
                <p>
                  Aerial view of the port of Redwood City in San Mateo County, California. Photo from U.S. Army Corps of Engineers Digital Visual Library.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="image-block">
              <img src="//placehold.it/566x566">
              <div class="caption">
                <p>
                  Aerial view of the port of Redwood City in San Mateo County, California. Photo from U.S. Army Corps of Engineers Digital Visual Library.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="image-block">
            <img src="//placehold.it/1164x655">
            <div class="caption">
              <p>
                The Taco Bell Cantina in Newport Beach, California, opened in 2017 and was the prototype for the chain’s new concept: restaurants with beer on tap and no drivethrough windows. Courtesy Taco Bell
              </p>
            </div>
          </div>
        </div>
      </div>

      <h3>H3 Subhead Sed ut perspiciatis unde omnis</h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcolaboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>

      <h4>H4 Lorem ipsum dolor sit amet, consectetur</h4>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      </p>

      <p>
        <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit:</b>
      </p>

      <ul>
        <li><b>Ut enim ad minima veniam</b>, quis nostrum exercitationem</li>
        <li><b>Ullam corporis suscipit laboriosam</b>, nisi ut aliquid ex ea commodi consequatur?</li>
        <li><b>Quis autem vel eum iure</b> reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</li>
      </ul>

      <div class="article-content-timeline slab-gray-bordered">
        <h2>Timeline title goes here</h2>
        <div class="row">
          <div class="col-sm-6 content-preview-item content-preview-item-data-block content-preview-item-data-block-image-floated-reverse">
            <div class="content-preview-item-image-floated">
              <img src="//placehold.it/144x144" />
            </div>
            <div class="content-preview-item-summary">
              <b class="date">1920</b>
              <p>
                White Castle, considered the nation’s first modern fast-food restaurant, opens in Wichita, Kansas.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 content-preview-item content-preview-item-data-block">
            <div class="content-preview-item-image-floated">
              <img src="//placehold.it/144x144" />
            </div>
            <div class="content-preview-item-summary">
              <b class="date">1921</b>
              <p>
                White Castle, considered the nation’s first modern fast-food restaurant, opens in Wichita, Kansas.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 content-preview-item content-preview-item-data-block content-preview-item-data-block-image-floated-reverse">
            <div class="content-preview-item-image-floated">
              <img src="//placehold.it/144x144" />
            </div>
            <div class="content-preview-item-summary">
              <b class="date">1922</b>
              <p>
                White Castle, considered the nation’s first modern fast-food restaurant, opens in Wichita, Kansas.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6 content-preview-item content-preview-item-data-block">
            <div class="content-preview-item-image-floated">
              <img src="//placehold.it/144x144" />
            </div>
            <div class="content-preview-item-summary">
              <b class="date">1923</b>
              <p>
                White Castle, considered the nation’s first modern fast-food restaurant, opens in Wichita, Kansas.
              </p>
            </div>
          </div>
        </div>

        <div class="row timeline-bottom-text">
          <div class="col-md-12 col-sm-12">
            <p>
              A building submerged in flooding after Hurricane Laura swept through Carlyss, Louisiana, in August 2020. Photo by Matthew Busch/The New York Times.
            </p>
          </div>
        </div>
      </div>

      <p>
        The future of fast-food typologies is by no means set in stone, as technological innovations may produce unexpected outcomes. Many fast-food franchises now designate parking areas for customers who have ordered online, where workers dash out to cars with their orders, carhop-style. Delivery services are raising the bar of customer convenience, while likely adding to the carbon emissions of each meal; rather than you swinging by the restaurant on your way home from work, the Uber Eats driver is making a dedicated trip from the restaurant to your home.
      </p>

      <p>
        The advent of “dark” or “ghost” kitchens—restaurants catering exclusively to online delivery platforms, which eliminate the need for a retail storefront—may prove to be the biggest paradigm shift to hit the industry as it enters its second century. “The future of fast food may look more like a distribution warehouse in a light manufacturing district,” Boone predicts.
      </p>

      <div class="clearfix">
        <div class="image-block image-block-float-left">
          <img src="//placehold.it/426x426" alt="Article image" class="img-responsive" />
          <div class="caption">
            <p>Ut porta, sapien at consequat accumsan, purus neque semper quam, vitae consectetur mi mauris sit amet nisi. Cras sit amet ante dapibus, posuere purus quis, ultricies metus.</p>
          </div>
        </div>
        <p>
          The future of fast-food typologies is by no means set in stone, as technological innovations may produce unexpected outcomes. Many fast-food franchises now designate parking areas. The advent of “dark” or “ghost” kitchens—restaurants catering exclusively to online delivery platforms, which eliminate the need for a retail storefront—may prove to be the biggest paradigm shift to hit the industry as it enters its second century. “The future of fast food may look more like a distribution warehouse in a light manufacturing district,” Boone predicts.
        </p>
        <p>
          For customers who have ordered online, where workers dash out to cars with their orders, carhop-style. Delivery services are raising the bar of customer convenience, while likely adding to the carbon emissions of each meal; rather than you swinging by the restaurant on your way home from work, the Uber Eats driver is making a dedicated trip from the restaurant to your home. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcolaboris nisi ut aliquip ex
        </p>
      </div>

      <div class="article-content-sidebar slab-gray-bordered">
        <h2>Sidebar title goes here</h2>
        <p class="text-center"><i>By</i> <span>Brian Barth</span></p>
        <h4>H4 Subhead Sed ut perspiciatis unde omnis iste natus error sit </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcolaboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
        <div class="image-block">
          <img src="//placehold.it/566x566">
          <div class="caption">
            <p>
              Aerial view of the port of Redwood City in San Mateo County, California. Photo from U.S. Army Corps of Engineers Digital Visual Library.
            </p>
          </div>
        </div>
        <h4>H4 Lorem ipsum dolor sit amet, consectetur</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        </p>
        <p>
          <b>Lorem ipsum dolor sit amet, consectetur adipiscing elit:</b>
        </p>

        <ul>
          <li><b>Ut enim ad minima veniam</b>, quis nostrum exercitationem</li>
          <li><b>Ullam corporis suscipit laboriosam</b>, nisi ut aliquid ex ea commodi consequatur?</li>
          <li><b>Quis autem vel eum iure</b> reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</li>
        </ul>

        <div class="image-block">
          <img src="//placehold.it/566x340">
          <div class="caption">
            <p>
              Aerial view of the port of Redwood City in San Mateo County, California. Photo from U.S. Army Corps of Engineers Digital Visual Library.
            </p>
          </div>
        </div>

      </div>

      <h2>Subhead Sed ut perspiciatis unde omnis iste natus error sit</h2>

      <p>
        The future of fast-food typologies is by no means set in stone, as technological innovations may produce unexpected outcomes. Many fast-food franchises now designate parking areas for customers who have ordered online, where workers dash out to cars with their orders, carhop-style. Delivery services are raising the bar of customer convenience, while likely adding to the carbon emissions of each meal; rather than you swinging by the restaurant on your way home from work, the Uber Eats driver is making a dedicated trip from the restaurant to your home.
      </p>

      <!-- Bottom social -->
      <div class="layout-tracery author-bottom-row">
        <div class="layout-column">
          <div class="row author-bio-row">
            <div class="col-sm-12 col-md-12">
              <p><strong>Brian Barth is a journalist with a background in urban planning.</strong> His writing has appeared in the New Yorker, National Geographic, Landscape Architecture Magazine and others. Find him on Twitter @BrianJBarth.</p>
            </div>
          </div>
          <div class="row share-category share-bottom">
            <div class="col-md-12 col-sm-12 col-xs-12 social-col">
                <h6>Share This Article</h6>
                <div class="addthis_inline_share_toolbox_4afs"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Recommended articles -->
      <h4>RECOMMENDED ARTICLES</h4>
      <div class="row recommended-articles">

        <div class="col-md-6 col-sm-6 column-1 content-preview-item content-preview-item-data-block">
          <div class="content-preview-item-image-floated">
            <img src="//placehold.it/144" class="img-responsive"/>
          </div>
          <div class="content-preview-item-headline">
            <h6 class="content-preview-item-superheadline">Tools</h6>
            <div class="content-preview-item-title"><a href="#">Eliminating Racial Segregation Is Good Economic Policy</a></div>
            <div class="content-preview-item-postline"><strong>January 4, 2021</strong></div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 column-1 content-preview-item content-preview-item-data-block">
          <div class="content-preview-item-image-floated">
            <img src="//placehold.it/144" class="img-responsive"/>
          </div>
          <div class="content-preview-item-headline">
            <h6 class="content-preview-item-superheadline">Tools</h6>
            <div class="content-preview-item-title"><a href="#">Eliminating Racial Segregation Is Good Economic Policy</a></div>
            <div class="content-preview-item-postline"><strong>January 4, 2021</strong></div>
          </div>
        </div>

      </div> <!-- close first row -->

      <div class="row recommended-articles">
        <div class="col-md-6 col-sm-6 column-1 content-preview-item content-preview-item-data-block">
          <div class="content-preview-item-image-floated">
            <img src="//placehold.it/144" class="img-responsive"/>
          </div>
          <div class="content-preview-item-headline">
            <h6 class="content-preview-item-superheadline">Tools</h6>
            <div class="content-preview-item-title"><a href="#">Eliminating Racial Segregation Is Good Economic Policy</a></div>
            <div class="content-preview-item-postline"><strong>January 4, 2021</strong></div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 column-1 content-preview-item content-preview-item-data-block">
          <div class="content-preview-item-image-floated">
            <img src="//placehold.it/144" class="img-responsive"/>
          </div>
          <div class="content-preview-item-headline">
            <h6 class="content-preview-item-superheadline">Tools</h6>
            <div class="content-preview-item-title"><a href="#">Eliminating Racial Segregation Is Good Economic Policy</a></div>
            <div class="content-preview-item-postline"><strong>January 4, 2021</strong></div>
          </div>
        </div>

      </div> <!-- close second row -->

    </div>
  </div>

  <!-- Pre-footer CTA -->
  <div class="homepage-featured-content-secondary-row row prefooter_cta prefooter-cta-articles">
    <div class="homepage-featured-content-secondary">
      <div class="homepage-featured-content-secondary-body">
        <h4 class="homepage-featured-content-secondary-title">Sign up for Planning emails</h4>
        <p>Receive Planning featured articles and recent content in your inbox</p>
        <a href="#" class="btn btn-primary btn-sub">Subscribe</a>
      </div>
    </div>
    <div class="homepage-featured-content-secondary img-col">
      <div class="homepage-featured-content-secondary-body">
        <div class="row nested-row">
          <div class="col-md-4 col-sm-12 text-center">
            <img class="img-responsive" src="//placehold.it/113x143" alt="Planning magazine image"/>
          </div>
          <div class="col-md-8 col-sm-12 text-col">
            <h4 class="homepage-featured-content-secondary-title">Download Planning Magazine</h4>
            <p>Access the most recent issue. Download the digital version now.</p>
            <a href="#" class="btn btn-primary btn-download">Log in to download</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- prefooter long ad -->
  <div class="row prefooter_lng_ad visible-xs">
    <div class="col-md-12 col-sm-12 text-center">
      <div class="banner-ad banner-ad-leaderboard banner-ad-footer">
        <script type="text/javascript">

          sas.call("std", {
            siteId: 80676, // 
            pageId: 584791, // Page : Planning.org/apa
            formatId: 34985, // Format : APA - Footer (728x90) 728x90
            target: '' // Targeting
          });

          </script>

          <noscript>
            <a href="https://www5.smartadserver.com/ac?jump=1&nwid=1541&siteid=80676&pgname=apa&fmtid=34985&visit=m&tmstp=[timestamp]&out=nonrich" target="_blank">
              <img src="https://www5.smartadserver.com/ac?out=nonrich&nwid=1541&siteid=80676&pgname=apa&fmtid=34985&visit=m&tmstp=[timestamp]" border="0" alt="" />

            </a>
          </noscript>
      </div>
    </div>
  </div>



</div>

{% endblock %}
