{% extends 'newtheme/templates/layout-planning-magazine.html' %}
{% load static %}

{% block content_main %}
<div class="planning_type">

  <!-- Breadcrumbs -->
  <ol class="breadcrumb">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/knowledgecenter/">Knowledge Center</a>
    </li>
    <li>
      <a href="/research/">APA Publications</a>
    </li>
    <li>
      <a href="/research/">Planning Magazine</a>
    </li>
  </ol>

  <!-- Title -->
  <div class="row top_title articles">
    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
      <h6>Planning Magazine</h6>
      <h1>Intersections</h1>
      <h3>Where Planning and the World Meet</h3>
    </div>
  </div>

  <!-- Headline articles -->
  <div class="row headline_articles">
    <!-- left column -->
    <div class="col-md-6 col-sm-6 col-xs-12 remove-outside-gutter-mobile">

      <a href="#" class="content-preview-item">
        <div class="content-preview-item-image-block">
          <img src="//placehold.it/568x426" alt="featured recent article image" class="img-responsive"/>
        </div>
        <div class="content-preview-item-headline add-outside-gutter-mobile">
          <div class="members-only sponsored-content">Sponsored Content</div>
          <h6 class="content-preview-item-superheadline">Tools</h6>
          <div class="content-preview-item-title">Title of the article will go here</div>
        </div>
        <div class="content-preview-item-postline add-outside-gutter-mobile"><strong>December 23, 2020</strong></div>
      </a>

    </div>
    <!-- right column -->
    <div class="col-md-6 col-sm-6 col-xs-12 remove-outside-gutter-mobile">
      <a href="#" class="content-preview-item">
        <div class="content-preview-item-image-block">
          <img src="//placehold.it/568x426" alt="featured recent article image" class="img-responsive"/>
        </div>
        <div class="content-preview-item-headline add-outside-gutter-mobile">
          <h6 class="content-preview-item-superheadline">Tools</h6>
          <div class="content-preview-item-title">Title of the article will go here when on two lines and break onto two lines when long</div>
        </div>
        <div class="content-preview-item-postline add-outside-gutter-mobile"><strong>December 23, 2020</strong></div>
      </a>
    </div>

  </div>

  <!-- Additional articles -->
  <div class="row addtl_articles layout-tracery">

    <div class="layout-column" style="border: none;">

      <div class="row ">

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive" />
            </div>
            <div class="content-preview-item-headline">
              <div class="members-only">APA Member Content</div>
              <h6 class="content-preview-item-superheadline">Japa Takeway</h6>
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="members-only">APA Member Content</div>
              <h6 class="content-preview-item-superheadline">Japa Takeway</h6>
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="members-only sponsored-content">Sponsored Content</div>
              <h6 class="content-preview-item-superheadline">Japa Takeway</h6>
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

      </div>

    </div>

  </div>

  <div class="row addtl_articles layout-tracery">

    <div class="layout-column" style="border: none;">

      <div class="row ">

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive" />
            </div>
            <div class="content-preview-item-headline">
              <div class="members-only">APA Member Content</div>
              <h6 class="content-preview-item-superheadline">Japa Takeway</h6>
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="members-only">APA Member Content</div>
              <h6 class="content-preview-item-superheadline">Japa Takeway</h6>
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="members-only sponsored-content">Sponsored Content</div>
              <h6 class="content-preview-item-superheadline">Japa Takeway</h6>
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

      </div>

    </div>

  </div>

  <div class="row addtl_articles layout-tracery">

    <div class="layout-column" style="border: none;">

      <div class="row ">

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive" />
            </div>
            <div class="content-preview-item-headline">
              <div class="members-only">APA Member Content</div>
              <h6 class="content-preview-item-superheadline">Japa Takeway</h6>
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="members-only">APA Member Content</div>
              <h6 class="content-preview-item-superheadline">Japa Takeway</h6>
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 ss-col">
          <a href="#" class="content-preview-item">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/198x132" alt="Additional article image" class="img-responsive"/>
            </div>
            <div class="content-preview-item-headline">
              <div class="members-only sponsored-content">Sponsored Content</div>
              <h6 class="content-preview-item-superheadline">Japa Takeway</h6>
              <div class="content-preview-item-title">Title of the article will go here</div>
            </div>
          </a>
        </div>

      </div>

    </div>

  </div>

  <!-- load more button -->
  <div class="row load_more">
    <div class="col-md-12 text-center">
      <a href="#" class="btn btn-default">Load more articles</a>
    </div>
  </div>

  <!-- Pre-footer CTA -->
  <div class="homepage-featured-content-secondary-row row prefooter_cta">
    <div class="homepage-featured-content-secondary">
      <div class="homepage-featured-content-secondary-body">
        <h4 class="homepage-featured-content-secondary-title">Sign up for Planning emails</h4>
        <p>Receive Planning featured articles and recent content in your inbox</p>
        <a href="#" class="btn btn-primary btn-sub">Subscribe</a>
      </div>
    </div>
    <div class="homepage-featured-content-secondary img-col">
      <div class="homepage-featured-content-secondary-body">
        <div class="row nested-row">
          <div class="col-md-4 col-sm-12 text-center">
            <img class="img-responsive" src="//placehold.it/113x143" alt="Planning magazine image"/>
          </div>
          <div class="col-md-8 col-sm-12 text-col">
            <h4 class="homepage-featured-content-secondary-title">Download Planning Magazine</h4>
            <p>Access the most recent issue. Download the digital version now.</p>
            <a href="#" class="btn btn-primary btn-download">Log in to download</a>
          </div>
        </div>
      </div>
    </div>
    <div class="homepage-featured-content-secondary">
      <div class="homepage-featured-content-secondary-body list-of-links">
        <h4 class="homepage-featured-content-secondary-title">Additional Resources</h4>
        <h4><a href="#">About</a></h4>
        <h4><a href="#">Contributor Guidelines</a></h4>
        <h4><a href="#">Previous Edition</a></h4>
        <h4><a href="#">Advertise with APA</a></h4>
      </div>
    </div>

  </div>

  <!-- Pre-footer 3 up ads -->
  <div class="row prefooter_3up_ads hidden-xs hidden-sm">

    <div class="col-md-2 col-md-offset-3">
      <div class="banner-ad banner-ad-small">
        <script type="text/javascript">
        sas.call("std", {
        siteId: 80676, // 
        pageId: 584791, // Page : Planning.org/apa
        formatId: 34980, // Format : APA - Box 1 (180x150) 180x150
        target: '' // Targeting
        });
        </script>
        <noscript>
        <a href="http://www5.smartadserver.com/ac?jump=1&nwid=1541&siteid=80676&pgname=apa&fmtid=34980&visit=m&tmstp=[timestamp]&out=nonrich" target="_blank">                
        <img src="https://www5.smartadserver.com/ac?out=nonrich&nwid=1541&siteid=80676&pgname=apa&fmtid=34980&visit=m&tmstp=[timestamp]" border="0" alt="" /></a>
        </noscript>
      </div>
    </div>
    <div class="col-md-2">
      <div class="banner-ad banner-ad-small">
        <script type="text/javascript">
        sas.call("std", {
        siteId: 80676, // 
        pageId: 584791, // Page : Planning.org/apa
        formatId: 34981, // Format : APA - Box 2 (180x150) 180x150
        target: '' // Targeting
        });
        </script>
        <noscript>
        <a href="http://www5.smartadserver.com/ac?jump=1&nwid=1541&siteid=80676&pgname=apa&fmtid=34981&visit=m&tmstp=[timestamp]&out=nonrich" target="_blank">                
        <img src="https://www5.smartadserver.com/ac?out=nonrich&nwid=1541&siteid=80676&pgname=apa&fmtid=34981&visit=m&tmstp=[timestamp]" border="0" alt="" /></a>
        </noscript>
      </div>
    </div>
    <div class="col-md-2">
      <div class="banner-ad banner-ad-small">
        <script type="text/javascript">
        sas.call("std", {
        siteId: 80676, // 
        pageId: 584791, // Page : Planning.org/apa
        formatId: 34982, // Format : APA - Box 3 (180x150) 180x150
        target: '' // Targeting
        });
        </script>
        <noscript>
        <a href="http://www5.smartadserver.com/ac?jump=1&nwid=1541&siteid=80676&pgname=apa&fmtid=34982&visit=m&tmstp=[timestamp]&out=nonrich" target="_blank">                
        <img src="https://www5.smartadserver.com/ac?out=nonrich&nwid=1541&siteid=80676&pgname=apa&fmtid=34982&visit=m&tmstp=[timestamp]" border="0" alt="" /></a>
        </noscript>
      </div>
    </div>
  </div>

  <!-- Prefooter long ad -->
  <div class="row prefooter_lng_ad">
    <div class="col-md-12 col-sm-12 text-center">
      <div class="banner-ad banner-ad-leaderboard banner-ad-footer">
        <script type="text/javascript">

        sas.call("std", {
          siteId: 80676, // 
          pageId: 584791, // Page : Planning.org/apa
          formatId: 34985, // Format : APA - Footer (728x90) 728x90
          target: '' // Targeting
        });

        </script>

        <noscript>
          <a href="https://www5.smartadserver.com/ac?jump=1&nwid=1541&siteid=80676&pgname=apa&fmtid=34985&visit=m&tmstp=[timestamp]&out=nonrich" target="_blank">
            <img src="https://www5.smartadserver.com/ac?out=nonrich&nwid=1541&siteid=80676&pgname=apa&fmtid=34985&visit=m&tmstp=[timestamp]" border="0" alt="" />

          </a>
        </noscript>
      </div>
    </div>
  </div>



</div>
{% endblock %}
