{% extends extends_template|default:"newtheme/templates/conference/page-nosidebar.html" %}
{#{% extends extends_template|default:"newtheme/templates/layout-nosidebar.html" %}#}

{% load static %}
{% load store_tags %}
{% load event_tags %}
{% load tz %}

  {% block additional_head_js %}
<script src="{% static 'registrations/js/add_activities.js' %}" type="text/javascript"></script>
  {% endblock %}

{% block content_main %}




<h1>Add Ticketed Activities</h1>
<h2>{{ event.title }}</h2>
<h3>
  {% localtime off %}
  {% ifequal event.begin_time_astimezone|date:"SHORT_DATE_FORMAT" event.end_time_astimezone|date:"SHORT_DATE_FORMAT" %}
    <span>{{event.begin_time_astimezone|date:"l, F j, Y"}}</span><br/>
    <span>
      {{ event.begin_time_astimezone|date:"P" }} - {{ event.end_time_astimezone|date:"P e" }}
    </span>
    {% else %}
    <span>
      {{event.begin_time_astimezone|date:"l, F j, P"}} - {{event.end_time_astimezone|date:"l, F j, Y, P e"}}
    </span>
  {% endifequal %}
  {# {{ event.begin_time_astimezone|date:"F jS" }} - {{ event.end_time_astimezone|date:"F jS, Y" }} #}
  {% endlocaltime %}
</h3>

<br>

<div class="well clearfix">
  <h4>Your Cart</h4>
  <div class="table-responsive conference-registration registration-the_cart">
    {% cart user=user remove_is_form=True %}
  </div>
  <a href="{{cart_url}}" class="btn btn-primary btn-lg">Check Out</a>
</div>

<div class="well">
  <h4>Browse Ticketed Activities</h4>

  <div>
    <label class="btn btn-sm btn-default">
      <input type="checkbox" class="prevent-icheck filter_controller" data-filter-code="data-cm" />
      <span>All CM</span>
    </label>
    <label class="btn btn-sm btn-default">
      <input type="checkbox" class="prevent-icheck filter_controller" data-filter-code="data-cm_law" />
      <span>CM Law</span>
    </label>
    <label class="btn btn-sm btn-default">
      <input type="checkbox" class="prevent-icheck filter_controller" data-filter-code="data-cm_ethics" />
      <span>CM Ethics</span>
    </label>
  </div>

  <hr/>

  {% localtime off %}
  <div class="margin-top">
    <label class="radio-facade btn btn-sm selected">
      <input type="radio" name="ticket-filter-date" class="prevent-icheck filter_controller" data-filter-code="data-all" checked="checked" />
      <span>All - {{ event.begin_time_astimezone|date:"M j" }} to {{ event.end_time_astimezone|date:"M j" }}</span>
    </label>
  </div>
  <br />
  <div>
    {% for date in filter_dates %}
    <!-- LOOP OVER FILTER DATES TO DISPLAY ALL FILTERS-->
    <label class="radio-facade btn btn-sm">
      <input type="radio" name="ticket-filter-date" class="prevent-icheck filter_controller" data-filter-code="data-date-{{date|date:'ymd'}}" />
      <span>{{ date|date:"l, M j" }}</span>
    </label>
    {% endfor%}
  </div>
  {% endlocaltime %}

</div>


<!--
  WE SEEM TO USE THE CODE BELOW (or variations of it) ALOT WHEN LISTING EVENTS, ACTIVITIES, ETC...
  MAYBE WE SHOULD REFACTOR INTO INCLUSION TAGS WITH A FEW OPTIONS? OR PARTS OF IT INTO INCLUSION TAGS
-->

<div class="content-preview-list layout-tracery">
  <ul>
  {% for activity in activities %}

{% if activity.product_info.price %}
  <div class="activity" data-all="true" data-date-{{activity.begin_time|date:"ymd"}}="true"
    {% if activity.cm_approved %}data-cm="true"{% endif %}
    {% if activity.cm_law_approved %}data-cm_law="true"{% endif %}
    {% if activity.cm_ethics_approved %}data-cm_ethics="true"{% endif %}>

    <div class="search-doc">
      <div class="search-doc-right">
        <div class="text-grey text-small margin-bottom">{{activity.code}}</div>

        <!-- SHOW CM -->
        {% if activity.cm_approved %}
        <div class="margin-bottom">
          <div>
            <span class="cm">CM  | </span><span class="cmpoints">{{activity.cm_approved|floatformat:"-2"}}</span>
          </div>
          <div>
            {% if activity.cm_law_approved %}
            <span class="cmlawethics">L</span><span class="cmpoints"><span class="cm"> | </span>{{activity.cm_law_approved|floatformat:"-2"}}</span>
            {% endif %}
          </div>
          <div>
            {% if activity.cm_ethics_approved %}
            <span class="cmlawethics">E</span><span class="cmpoints"><span class="cm"> | </span>{{activity.cm_ethics_approved|floatformat:"-2"}}</span>
            {% endif %}
          </div>
          <!-- FLAGGED FOR REFACTORING: CM CREDITS DISPLAY -->
          <div>
            {% if activity.cm_equity_credits %}
            <span class="cmlawethics">Eq</span><span class="cmpoints"><span class="cm"> | </span>{{activity.cm_equity_credits|floatformat:"-2"}}</span>
            {% endif %}
          </div>
          <div>
            {% if activity.cm_targeted_credits %}
            <span class="cmlawethics">SR</span><span class="cmpoints"><span class="cm"> | </span>{{activity.cm_targeted_credits|floatformat:"-2"}}</span>
            {% endif %}
          </div>
        </div>
        {% endif %}

      </div>

      <div class="search-doc-left">

        <div class="margin-bottom">
          <h3 class="details-title">{{ activity.title }}</h3>

          {% if activity.provider_roles %}{{activity.provider_roles.0.contact.title }}{% endif %}

        </div>


        <div class="margin-bottom">
          <div>
            {% localtime off %}
            {% ifequal activity.begin_time_astimezone|date:"SHORT_DATE_FORMAT" activity.end_time_astimezone|date:"SHORT_DATE_FORMAT"%}
            <span>{{activity.begin_time_astimezone|date:"l, F j, Y"}}</span><br/>
            <span>
              {{ activity.begin_time_astimezone|date:"P" }} - {{ activity.end_time_astimezone|date:"P e" }}
            </span>
            {% else %}
            <span>
              {{activity.begin_time_astimezone|date:"l, F j, Y, P"}}</span><br />
            <span>
              {{activity.end_time_astimezone|date:"l, F j, Y, P e"}}
            </span>
            {% endifequal %}
            {% endlocaltime %}
          </div>
        </div>

        {% if activity.description and not view.is_kiosk %}
        <div>
          <p class="text-grey">
            {{ activity.description|safe }}
          </p>
        </div>
        {% endif %}

        <div>
          <p>
          {% for speaker_role in activity.speaker_roles %}
            <span><a href="/search/?speakers={{speaker_role.contact.id}}">{{speaker_role.contact.title}}</a></span>{% if not forloop.last %}<span style="margin:0px 12px"> | </span>{% endif %}
          {% endfor %}
          </p>
        </div>

        <div class="registration_add-ticket-widget" data-master-id="{{activity.master_id}}">
          {% activity_ticket_link activity=activity product=activity.product_info.product product_price=activity.product_info.price purchase_info=activity.product_info.purchase_info has_registration=has_registration %} <!-- update this-->
        </div>

      </div>

    </div>
  </div>
  {% endif %}

  {% endfor %}
  </ul>
</div>

{% endblock %}

{% block additional_body_js %}
{{block.super}}
<script src="{% static 'registrations/js/add_activities.js' %}" type="text/javascript"></script>
<script src="{% static 'newtheme/js/conference-registration.js' %}" type="text/javascript"></script>
{% endblock additional_body_js%}
