{% load content_extras %}

<div class="form-group{% if field.errors %} has-error {% endif %}">
  <div class="multiple-choices">
    <div class="multiple-choices-row">
      {% for column in field|columns_alternate:2 %}
      <div class="multiple-choices-column">
        {% for choice in column %}
        <div class="{{widget|default:'checkbox'}}">
            {{choice}}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% if field.errors %}
  <div class="form-error">
    {% for error in field.errors %}
    <p>{{ error|escape }}</p>
    {% endfor %}
  </div>
  {% endif %}
</div>