{% extends 'newtheme/templates/layout-nosidebar.html' %}

{% block content_main %}

<div class="page-head">
  <h1 class="page-title">APA Student Membership</h1>
</div>
<div class="layout-tracery">
  <div class="layout-column">
    <h2>Success!</h2>
    <p>Thank you for making APA your partner as you begin a successful and rewarding career.</p>
    <p>Be sure to log in to <a href="/myapa/">My APA</a> to update your profile. While you are there, review your local chapter information and sign up for five free divisions. </p>
    <p>APA has a lot more to offer <a href="/join/students/">students</a>. Make the most of your membership!</p>
    

    <!-- Our original message as of 7/25/2017

    <p>If you have questions, contact <a href="studentmembership@planning.org">Customer Service</a> or 312-431-9100.</p>-->

    
    <p>If you have questions, contact <a href="/customerservice/contact-us/">Customer Service</a> or call 312-431-9100.</p>
  </div>
</div>

{% endblock %}


