{% load static %}
{% load myapa_tags %}

<div class="new-account-form">
  <div class="page-head">
    {% include 'newtheme/templates/includes/breadcrumbs.html' %}
    <h1 class="page-title">REVIEW YOUR CONSULTANT PROFILE</h1><br>
	  <p>This is how your consultant profile will appear to website visitors. Please review it carefully and choose “Edit” to make any changes. When you are satisfied, click “Submit.”</p>

  </div>
  <div class="layout-tracery no-bottom-border">
    <div class="layout-column">
      <div class="row">
    {% if profile.image %}<p><img src="{{image_file_url}}" height="{{image_height}}" width="{{image_width}}"/></p>{% endif %}
    <h2>{{ organization.company }}</h2>
    <h3>About {{ organization.company }}</h3><p>{{ organization.about_me }}</p>
    <h3>{{ organization.company }} Company Description</h3><p>{{ organization.bio }}</p>
    <h4><strong>Area of Expertise: </strong>
    {% for tag in specialty_tags %}
        {% if forloop.counter == specialty_tags|length %}
            {{tag}}
        {% else %}
            {{tag}},
        {% endif %}
    {% endfor %}</h4>
    <h4><strong>Firm Principals:</strong>&nbsp {{ profile.principals }}</h4>
    <h4><strong>Staff Members: </strong>{{ profile.number_of_staff }}</h4>
    {% if profile.number_of_planners %}<h4><strong>Professional Planners: </strong>{{ profile.number_of_planners }}</h4>{% endif %}
    {% if profile.number_of_aicp_members %}<h4><strong>AICP Members: </strong>{{ profile.number_of_aicp_members }}</h4>{% endif %}
    <h4><strong>Founded: </strong> {{ profile.date_founded }}</h4>
    <h4><strong>Website:</strong> {{ organization.personal_url }}</h4><hr>
    <h3><strong>Main Office</strong></h3><br>
    {% if organization.address1 %}{{ organization.address1 }}<br>{% endif %}
    {% if organization.address2 %}{{ organization.address2 }}<br>{% endif %}
    {{ organization.city }}, 
    {{ organization.state }}
    {{ organization.zip_code }}<br>
    {% if organization.country and organization.country != "United States"%}<span>{{organization.country}}</span><br>{% endif %}
    Phone: {{ organization.phone }}<br>
    Email: {{ organization.email }}<br>
    Website: {{ organization.personal_url }}<br>
    <hr>
    <h3><strong>Branch Offices</strong></h3><br>
    {% for branch in branch_offices %}
        {{ branch.city }}: {{ branch.parent_organization.company }} Branch Office<br>
        {% if branch.address1 %}{{ branch.address1 }}<br>{% endif %}{% if branch.address2 %}{{ branch.address2 }}<br>{% endif %}
        {{ branch.city }}, {{ branch.state }} {{ branch.zip_code }}<br>
        {{ branch.country }}<br>
        Phone: {{ branch.phone }}<br>
        {% if branch.email %}Email: {{ branch.email }}{% endif %}{% if branch.website %}<br>Website: {{ branch.website }}{% endif %}<hr>

    {% endfor %}
    <p>

    <a class="btn btn-primary" href="{% url 'consultants:profile_update' org_id=organization.id %}">Edit Profile</a>  
      <a class="btn btn-primary" href="{% url 'consultants:consultant_submit' org_id=organization.id %}">Submit Profile</a>

    </p>
</div>
</div>
</div>
</div>
