{% extends 'newtheme/templates/conference/page-nosidebar.html' %}
{% load static %}



{% block content_details %}

<h2>Why Attend NPC18?</h2>
<h3>Start With Three Great Reasons</h3>
<ul>
  <li>
    <a href="http://127.0.0.1:8000/conference/future-previous/">http://127.0.0.1:8000/conference/future-previous/</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/conference/whyattend/">http://127.0.0.1:8000/conference/whyattend/</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/conference/proposal/">http://127.0.0.1:8000/conference/proposal/</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/conference/proposal/tracks/">http://127.0.0.1:8000/conference/proposal/tracks/</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/conference/proposal/howto/">http://127.0.0.1:8000/conference/proposal/howto/</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/conference/search/">http://127.0.0.1:8000/conference/search/</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/conference/exhibit-sponsor/">http://127.0.0.1:8000/conference/exhibit-sponsor/</a>
  </li>
  <li>
    <a href="http://127.0.0.1:8000/conference/info/">http://127.0.0.1:8000/conference/info/</a>
  </li>
</ul>
<p>
  <strong>Explore New Orleans During its Tricentennial</strong>: New Orleans is celebrating a major milestone in 2018 — the 300th anniversary of the city's founding. The birthplace of jazz, home to Creole and Cajun cuisine, and known for its world culture, New Orleans is the epitome of strong roots and big plans. While in town, visit both old and new neighborhoods — each with its own unique character — to see how planning in the city has evolved over the last three centuries.
</p>
<p>
  <strong>Move to the Forefront</strong>: Join the conversation about current issues, trends, challenges, and solutions that are shaping planning today. Get smarter at sessions and workshops offering the latest and best in professional planning education.
</p>
<p>
  <strong>Grow Your Network</strong>: Grab this chance to boost your career and further your personal and professional goals. Meet old friends, renew acquaintances, and build key relationships.
</p>
{% endblock %}