{% load wagtailembeds_tags %}

<h2 class="headline-underline">{{value.heading}}</h2>
<div class="video-block">
    <div class="video">
        <iframe scrolling="no" frameborder="no" src="{{value.video}}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"></iframe>
    </div>
    <div class="caption">
        {% if value.link.Link_Text %}
			{% if value.link.Link_Style == "FANCY" %}
			<div class="read-more-link no-top-border"><a href="{{value.link.Link_URL}}">{{value.link.Link_Text}}</a></div>
			{% elif value.link.Link_Style == "BUTTON" %}
			<p><a class="btn btn-primary" href="{{value.link.Link_URL}}">{{value.link.Link_Text}}</a></p>
			{% else %}
			<p><a class="standalone-link" href="{{value.link.Link_URL}}">{{value.link.Link_Text}}</a></p>
			{% endif %}
        {% endif %}
    </div>
</div>