{% extends extends_template|default:"newtheme/templates/conference/layout-nosidebar.html"  %}

{% load tz %}
{% load compress %}
{% load static %}
{% load badge_tags %}

{% block additional_head_css %}
{{block.super}}
{% compress css %}
<link type="text/less" rel="stylesheet" href="{% static 'registrations/css/includes/tickets-style.less' %}" />
{% endcompress %}
{% endblock %}

{% block content_main %}

<div class="layout-tracery">
  <div class="layout-column">

<h1>{{ event.title }}</h1>

<h2>
  {% localtime off %}
  {% ifequal event.begin_time|date:"SHORT_DATE_FORMAT" event.end_time|date:"SHORT_DATE_FORMAT"%}
      <span>{{event.begin_time_astimezone|date:"l, F j, Y"}}</span><br/>
      <span>
        {{ event.begin_time_astimezone|date:"P" }} - {{ event.end_time_astimezone|date:"P e" }}
      </span>
      {% else %}
      <span>
        {{event.begin_time_astimezone|date:"l, F j, P"}} - {{event.end_time_astimezone|date:"l, F j, Y, P e"}}
      </span>
    {% endifequal %}
    {# {{ event.begin_time_astimezone|date:"F jS" }} - {{ event.end_time_astimezone|date:"F jS, Y" }} #}
    {% endlocaltime %}
</h2>

    <form method="post" id="confirm_badge_form">
      {% csrf_token %}

      {% block badge_fields %}
      <div class="row form-group">

        {% comment %}
        <div class="col-xsm-12 col-sm-7 col-md-5">
          <div class="sato" style="height:auto;max-width:4in;">
            <div class="page" style="padding:0px;height:auto;max-width:4in;">


              <div id="badge_preview" class="ticket" style="height:4in;width:4in;font-family:initial;border:1px dotted black;color:black;">
                {% include event.ticket_template|default_if_none:"registrations/tickets/layouts/CONFERENCE-BADGE.html" with ticket=badge %}
              </div>


            </div>
          </div>
        </div>
        {% endcomment %}

        <div class="col-xsm-12 col-sm-5 col-md-7">
          <h4>Badge Details</h4>
          <p class="small">
            The information below will display on your badge.
          </p>

          <div class="form-group">
            {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.badge_name %}
          </div>
          <div class="form-group">
            <label for="badge_full_name">Full Name</label>
            <input id="badge_full_name" class="form-control" type="text" value="{{ badge|get_full_name }}" readonly>

          </div>
          <div class="form-group">
            {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.badge_company %}
          </div>
          <div class="form-group">
            {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.badge_location %}
          </div>

          {% if is_npc %}
          <br />
          <p>
        Please plan to pick up your badge packet at registration onsite at NPC20. APA will not mail out badge packets ahead of conference. <a href="/conference/information#badge" target="_blank">Learn more</a>.
          </p>
          {% endif %}

        </div>
      </div>
      {% endblock %}



     {% comment %}
      {% block address_fields %}
      {% if is_npc %}


      <div class="form-group">
        <h4>Where should APA mail your badge?</h4>
        <div class="help-block">
          Note: The address you enter below will not change your APA billing address or contact information in MyAPA.
        </div>
        <div class="form-group">
          {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.address1 %}
        </div>

        <div class="form-group">
          {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.address2 %}
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.city %}
            </div>
            <div class="col-sm-4">
              {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.state %}
            </div>
            <div class="col-sm-4">
              {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.country %}
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
            {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.zip_code %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endblock %}

      {% endcomment %}

      {% block form_submit_button %}
      <div class="form-group">
        <p>
          <button type="submit" name="submit_button" class="btn btn-primary btn-lg"
            {% if event.event_type == "EVENT_MULTI" %}value="and_add_activities"
            {% else %}value="just_register"
            {% endif %}>{{ confirm_badge_text|default:"Submit" }}</button>
        </p>
      </div>
      {% endblock %}

    </form>

  </div>
</div>

{% endblock %}

{% block additional_body_js %}
{{block.super}}
<script src="{% static 'ui/forms/js/selectchain.js' %}"></script>
<script src="{% static 'registrations/js/confirm-badge.js' %}?v=0.2"></script>
{% endblock %}
