{% extends 'submissions/newtheme/forms/review.html' %}

{% block preview_details_wrapper %}
<a class="btn btn-sm btn-icon pull-right btn-inline" href="{{edit_url}}">
    Edit
    <span class="icon-apa-edit"></span>
</a>

{% include "research_inquiries/newtheme/includes/details.html" with inquiry=content %}

{% endblock %}

{% block verification_form %}
<form method="post" id="event_submission_form">
    {% csrf_token %}
	{{form.submission_verified}}
              
    <div class="btn-toolbar">
        <a class="btn btn-default" href="{{home_url}}">Continue Later</a>
        {% if requires_checkout %}
        <button type="submit" name="submitButton" value="checkout" class="btn btn-primary">Checkout</button>
        {% else %}
        <button type="submit" name="submitButton" value="submitfinal" class="btn btn-primary">Submit</button>
        {% endif %}
    </div>
</form>
{% endblock %}{# verificatio_form #}

