{% extends "jobs/newtheme/submission/type.html" %}

{% block submission_description %}
	<p>Your ad must be submitted online; we do not post listings received via fax or e-mail. Ads go online within 1 business day of payment. Your ad will be reviewed, and may be edited for typos and minor editorial changes.</p>

	<p>Ads must be prepaid through the online shopping cart.</p>

	<p>Keep a record of your chapter ID number and password. When you return, log in with the same ID so that you may access your online receipts and resumes. You will have free access to the Jobs Online Resume bank for three months from the time you submit payment.</p>
	{% endblock %}
