{% extends 'newtheme/templates/layout-sidebar.html' %}
{% load static %}

{% block content_sidebar %}
{% include 'newtheme/sandbox/frontend/local-navigation.html' %}
{% endblock %}

{% block content_main %}
<div class="page-head">
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
  </ol>

  <h1 class="page-title">Conferences &amp; Meetings</h1>
</div>

<div class="layout-hero-image">
  <img class="layout-hero-image-image" src="//placehold.it/970x370/3e3918" />
  <div class="layout-hero-image-content">
    <h3 class="featured-item-title">National Planning Conference</h3>
    <div class="layout-tracery no-top-border">
      <div class="layout-column section-overview-featured-item slab-gray">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <img src="//placehold.it/600x600" class="img-responsive"/>
          </div>
          <div class="col-sm-6 col-md-8 col-lg-9">
            <h2 class="headline-underline">April 2-6, 2016 | Phoenix Arizona</h2>
            <p class="featured">What’s next on planning’s new landscape? Come to APA’s 2016 National Planning Conference and see what’s ahead for you, your community, and your career.</p>
            <p><a href="#" class="btn btn-primary btn-lg">Register Now</a></p>
          </div>
        </div>
        <div class="read-more-link"><a href="#">Find Out More</a></div>
      </div>
    </div>
  </div>
</div>

<div class="layout-tracery">
  <div class="layout-column">
    <h2>Practical Solutions, Peer Learning, and Networking</h2>
    <p>Explore APA’s best continuing education lineup, networking experiences, and practical solutions. Come away inspired and more equipped to enhance your work, improve your community, and advance your career.</p>
    <p>Choose among on-site learning opportunities from experts. In addition to on-site learning, consider convenient and extensive online learning opportunities. No matter the method, you’re bound to advance your skill set.</p>
    <div class="list-of-links list-of-links-small">
      <h4><a href="#">Search onsite events calendar</a></h4>
      <h4><a href="#">Search online learning opportunities</a></h4>
    </div>
  </div>
</div>

<div class="layout-tracery">
  <div class="layout-column layout-column-balanced-padding">
    <div class="layout-tracery">
      <div class="layout-column slab-gray">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <img class="img-responsive" src="//placehold.it/600x600" />
          </div>
          <div class="col-sm-6 col-md-8 col-lg-9">
            <h2 class="headline-underline">
              <small>Event Details coming soon!</small>
              Policy and Advocacy Conference
            </h2>
            <p>Planning is more than a profession. It's a cause. The APA Policy and Advocacy Conference takes a look at what's ahead and advocates for policies that advance planning.</p>
          </div>
        </div>
        <div class="read-more-link"><a href="#fpo">Learn more about APA's Policy and Advocacy Conference</a></div>
      </div>
    </div>
  </div>
</div>

<div class="layout-tracery">
  <div class="layout-column layout-column-balanced-padding">
    {% include 'newtheme/sandbox/banner-ad/layout-banner-ad-small-3up.html' %}
  </div>
</div>

<div class="layout-tracery layout-tracery-2col">
  <div class="layout-column">
    <h2>Tuesdays at APA</h2>
    <p>Short copy about Tuesdays at APA This is a general description to help users drill down into this content.</p>
    <br/>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <img src="//placehold.it/600x600" class="img-responsive" />
      </div>
      <div class="col-xs-12 col-lg-8">
        <p>Join APA in Washington DC for our free after-work lecture series, Tuesdays at APA.</p>
        <h5>Next Lecture:</h5>
        <div class="content-preview-item">
          <h6 class="content-preview-item-superheadline">January 12, 2016 at  5:30 p.m.</h6>
          <h4 class="content-preview-item-headline"><a href="#">Equitable Development: Social Equity by Design</a></h4>
          <div class="content-preview-item-postline"><a href="#">View Past Lectures</a></div>
        </div>
      </div>
    </div>
    <div class="read-more-link"><a href="#">Learn more about Tuesdays at APA</a></div>
  </div>
  <div class="layout-column">
    <h2>The Daniel Burnham Forum</h2>
    <p>Short copy about The Daniel Burnham Forum. This is a general description to help users drill down into this content.</p>
    <br/>
    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <img src="//placehold.it/600x600" class="img-responsive" />
      </div>
      <div class="col-xs-12 col-lg-8">
        <p>Brief description of Daniel Burnham Forum. Brief description of Daniel Burnham Forum.</p>
        <h5>2015 Forum</h5>
        <h4>
          <a href="#">Pursuing Inclusive Growth: Placed-based Strategies for Economic Growth, Social Mobility and Housing</a>
        </h4>
      </div>
    </div>
    <div class="read-more-link"><a href="#">Learn more about The Daniel Burnham Forum</a></div>
  </div>
</div>

<div class="layout-tracery">
  <div class="layout-column">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-3">
        <img src="//placehold.it/600x600" class="img-responsive" />
      </div>
      <div class="col-xs-12 col-md-8 col-lg-9">
        <h2 class="headline-underline">
          <small>October 28, 2016 | Washington DC, USA</small>
          AICP Symposiums
        </h2>
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-7">
            <p><strong>AICP sponsors regular symposiums on a variety of topics vital to practicing planners.</strong> This years' focus is In urban areas, stormwater presents major challenges for water quality. Runoff and combined sewer overflows result in impaired quality and degraded watersheds. Increasingly, green infrastructure approaches can treat and reduce discharge volumes and help mitigate flood risk, in addition to a range of environmental, social, and economic benefits.</p>
            <p><a href="#" class="btn btn-primary">Register Now</a></p>
            <br/>
          </div>
          <div class="col-xs-12 col-md-12 col-lg-5">
            <h5>Key Speakers</h5>
            <div class="list-of-speakers">
              <h4>Paula Conolly, AICP</h4>
              <p>Policy Strategist, Green City, Clean Waters Program, Philadelphia Water Department</p>
              <h4>Bethany Bezak, PE, LEED AP</h4>
              <p>Green Infrastructure Manager, DC Water, DC Clean Rivers Project</p>
              <h4>Mathy Stanislaus</h4>
              <p>Assistant Administrator for the Office of Solid Waste and Emergency Response, U.S. EPA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="read-more-link">
      <a href="#">Learn more about AICP Symposiums</a>
    </div>
  </div>
</div>

<div class="layout-tracery">
  <div class="layout-column layout-column-balanced-padding">
    {% include 'newtheme/sandbox/banner-ad/banner-ad-leaderboard.html' %}
  </div>
</div>

<hr/>

<div>
  [Search Interface coming soon]
</div>

{% endblock %}