{% extends 'newtheme/templates/layout-nosidebar.html' %}
{% load static %}

{% block content_main %}
{% with title="Knowledge Center" subtitle="Introductory copy for the Knowledge Center section of the site, perhaps something about APA's mission to provide research and education to the planning community." %}
{% include 'newtheme/templates/includes/page-head.html' %}
{% endwith %}

<div class="layout-tracery">
  <div class="layout-column">
    <div class="image-block image-breakout">
      <img src="//placehold.it/1200x370" />
    </div>

    <div class="directory-page-grid">
      <div class="directory-page-grid-item">
        <div class="accordion">
          <h2 class="accordion-handle">APA eLearning</h2>
          <div class="accordion-content">
            <p>Some introductory text about this section if necessary.</p>
            <div class="list-of-links list-of-links-small">
              <h4><a href="#">APA Learning Overview</a></h4>
              <h4><a href="#">Streaming Education</a></h4>
              <h4><a href="#">Online Courses</a></h4>
              <h4><a href="#">Virtual Conferences</a></h4>
              <h4><a href="#">Communications Training</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="directory-page-grid-item">
        <div class="accordion">
          <h2 class="accordion-handle">Publications</h2>
          <div class="accordion-content">
            <p>Some introductory text about the publications available from the APA.</p>
            <div class="list-of-links list-of-links-small">
              <h4><a href="#">Publications Overview</a></h4>
              <h4><a href="#">Planning Magazine</a></h4>
              <h4><a href="#">Journal of the American Planning Association</a></h4>
              <h4><a href="#">Books</a></h4>
              <h4><a href="#">Specialty Publications</a></h4>
              <h4><a href="#">Publications Archive</a></h4>
              <h4><a href="#">Author &amp; Faculty Information</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="directory-page-grid-item">
        <div class="accordion">
          <h2 class="accordion-handle">Planning Advisory Service</h2>
          <div class="accordion-content">
            <p>Some introductory text about this section if necessary.</p>
            <div class="list-of-links list-of-links-small">
              <h4><a href="#">Planning Advisory Service Overview</a></h4>
              <h4><a href="#">PAS Reports</a></h4>
              <h4><a href="#">Inquiry Answer Service</a></h4>
              <h4><a href="#">PAS Memo</a></h4>
              <h4><a href="#">PAS Quick Notes</a></h4>
              <h4><a href="#">PAS Essential Info Packets</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="directory-page-grid-item">
        <div class="accordion">
          <h2 class="accordion-handle">Applied Research</h2>
          <div class="accordion-content">
            <p>Some introductory text about this section if necessary.</p>
            <div class="list-of-links list-of-links-small">
              <h4><a href="#">Research Projects</a></h4>
              <h4><a href="#">Research Products</a></h4>
              <h4><a href="#">Green Communities Center</a></h4>
              <h4><a href="#">Hazards Planning Center</a></h4>
              <h4><a href="#">Planning and Community Health</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="directory-page-grid-item">
        <div class="accordion">
          <h2 class="accordion-handle">Multimedia Media</h2>
          <div class="accordion-content">
            <p>Some introductory text about this section if necessary.</p>
            <div class="list-of-links list-of-links-small">
              <h4><a href="#">Digital Media Overview</a></h4>
              <h4><a href="#">Image Library</a></h4>
              <h4><a href="#">Podcasts</a></h4>
              <h4><a href="#">Videos</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="directory-page-grid-item">
        <div class="accordion">
          <h2 class="accordion-handle">Blogs</h2>
          <div class="accordion-content">
            <p>Some introductory text about this section if necessary.</p>
            <div class="list-of-links list-of-links-small">
              <h4><a href="#">Blogs Overview</a></h4>
              <h4><a href="#">Subpage</a></h4>
              <h4><a href="#">Subpage</a></h4>
              <h4><a href="#">Subpage</a></h4>
              <h4><a href="#">Subpage</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="directory-page-grid-item">
        <div class="accordion">
          <h2 class="accordion-handle">APA Library</h2>
          <div class="accordion-content">
            <p>Some introductory text about this section if necessary.</p>
            <div class="list-of-links list-of-links-small">
              <h4><a href="#">Search the Catalog</a></h4>
              <h4><a href="#">Organization of APA Library</a></h4>
              <h4><a href="#">Institutional Archives at Cornell</a></h4>
              <h4><a href="#">100 Essential Planning Books</a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


