{% extends 'newtheme/templates/layout-nosidebar.html' %}

{% block content_main %}

<div class="layout-tracery">
  <div class="layout-column">
    <div class="row">
      <div class="col-sm-4">

        <div class="homepage-featured-content-secondary color-orange">
          <div class="homepage-featured-content-secondary-image">
            <img src="//placehold.it/800x360" />
          </div>
          <div class="homepage-featured-content-secondary-body">
            <h2>Great Places In America</h2>
            <p>More than half of the U.S. population currently resides on or near a coast, and over half of all economic...</p>
            <div class="read-more-link no-top-border">
              <a href="#">See More</a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-4">

        <div class="homepage-featured-content-secondary color-orange">
          <div class="homepage-featured-content-secondary-image">
            <img src="//placehold.it/800x360" />
          </div>
          <div class="homepage-featured-content-secondary-body">
            <h2>Street Graphics and the Law</h2>
            <p>More than half of the U.S. population currently resides on or near a coast, and over half of all economic...</p>
            <div class="read-more-link no-top-border">
              <a href="#">See More</a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-4">

        <div class="homepage-featured-content-secondary color-blue">
          <div class="homepage-featured-content-secondary-image">
            <img src="//placehold.it/800x360" />
          </div>
          <div class="homepage-featured-content-secondary-body">

            <h2>Students and New Planners</h2>
            <p>Some introductory copy about how the APA supports professional planners in their career development.</p>
            <div class="list-of-links list-of-links-small">
              <h4><a href="#">Early Career Membership Program</a></h4>
              <h4><a href="#">Planning Student Organizations</a></h4>
              <h4><a href="#">Other Student Specific Content</a></h4>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <h2>News</h2>

    <div class="row">
      <div class="col-sm-6">
        <h3>Daily Planning News</h3>
        <div class="content-preview-list">
          <ul>
            <!-- 1 -->
            <li>
              <a class="content-preview-item" href="">
                <h6 class="content-preview-item-superheadline">
                  December 17, 2015 | Tampa Bay Times (FL)
                </h6>
                <h4 class="content-preview-item-headline">
                  <span class="members-only">Members Only</span>
                  Hillsborough unveils trio of transportation plans
                </h4>
                <div class="content-preview-item-summary">
                  After nearly a year of public outreach and planning, Hillsborough County released...
                </div>
              </a>
            </li>

            <!-- 2 -->
            <li>
              <a class="content-preview-item" href="">
                <h6 class="content-preview-item-superheadline">
                  December 17, 2015 | New York Times (NY)
                </h6>
                <h4 class="content-preview-item-headline">
                  <span class="members-only">Members Only</span>
                  Who will lead Syracuse's conversation about its future? Community dialogue needed for city's future 
                </h4>
                <div class="content-preview-item-summary">
                  After nearly a year of public outreach and planning, Hillsborough County released...
                </div>
              </a>
            </li>

            <!-- 3 -->
            <li>
              <a class="content-preview-item" href="">
                <h6 class="content-preview-item-superheadline">
                  December 17, 2015 | Chicago Tribune (IL)
                </h6>
                <h4 class="content-preview-item-headline">
                  Quisque eget maximus arcu, et gravida est
                </h4>
                <div class="content-preview-item-summary">
                  Elit, mattis at lectus eu, dignissim aliquet turpis. Fusce quis ultrices mi. Mauris ac...
                </div>
              </a>
            </li>

          </ul>
        </div>
        <div class="read-more-link"><a href="#">View more Planning News</a></div>
      </div>
      <div class="col-sm-6">
        <h3>APA News and Updates</h3>
        <div class="content-preview-list">
          <ul>
            <!-- 1 -->
            <li>
              <a class="content-preview-item" href="">
                <h6 class="content-preview-item-superheadline">
                  December 17, 2015
                </h6>
                <h4 class="content-preview-item-headline">
                  Senators Introduce Bipartisan Bill to Improve Coastal Data Collection, Integration, and Accessibility
                </h4>
                <div class="content-preview-item-summary">
                  More than half of the U.S. population currently resides on or near a coast, and over half of all economic productivity...
                </div>
              </a>
            </li>

            <!-- 2 -->
            <li>
              <a class="content-preview-item" href="">
                <h6 class="content-preview-item-superheadline">
                  December 17, 2015 | New York Times (NY)
                </h6>
                <h4 class="content-preview-item-headline">
                  Donec sed erat laoreet, luctus velit in, vestibulum orci? Mauris sed mollis ante vivamus pharetra enim neque
                </h4>
                <div class="content-preview-item-summary">
                  Proin turpis elit, mattis at lectus eu, dignissim aliquet turpis. Fusce quis ultrices miama...
                </div>
              </a>
            </li>

          </ul>
        </div>
        <div class="read-more-link"><a href="#">View all APA News</a></div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <h2>Upcoming Events</h2>
    <div class="content-preview-list">
      <ul>
        <!-- 1 -->
        <li>
          <a class="content-preview-item content-preview-item-featured" href="#">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/800x360" />
            </div>
            <h6 class="content-preview-item-superheadline">
              December 30, 2015
            </h6>
            <h4 class="content-preview-item-headline">
              Tuesdays at APA: Equitable Development: Social Equity by Design
            </h4>
            <div class="content-preview-item-postline">
              Conferences &amp; Events | Topic Tag
            </div>
          </a>
        </li>

        <!-- 2 -->
        <li>
          <a class="content-preview-item" href="#">
            <h6 class="content-preview-item-superheadline">
              January 05, 2016
            </h6>
            <h4 class="content-preview-item-headline">
              APA Policy and Advocacy Conference
            </h4>
            <div class="content-preview-item-postline">
              Lectures and Forums | Topic Tag
            </div>
          </a>
        </li>

        <!-- 3 -->
        <li>
          <a class="content-preview-item" href="#">
            <h6 class="content-preview-item-superheadline">
              January 08-10, 2016
            </h6>
            <h4 class="content-preview-item-headline">
              Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </h4>
            <div class="content-preview-item-postline">
              Live Online Education | Topic Tag
            </div>
          </a>
        </li>

      </ul>
      <div class="read-more-link"><a href="#">View all Events</a></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <h2>Blogs</h2>
    <div class="content-preview-list">
      <ul>
        <!-- 1 -->
        <li>
          <a class="content-preview-item content-preview-item-featured" href="#">
            <div class="content-preview-item-image-block">
              <img src="//placehold.it/800x360" />
            </div>
            <h6 class="content-preview-item-superheadline">
              December 17, 2015
            </h6>
            <h4 class="content-preview-item-headline">
              Climate Adaption Planning at the Jersey Shore: One Planner’s Experience
            </h4>
            <div class="content-preview-item-postline">
              APA Recovery
            </div>
          </a>
        </li>

        <!-- 2 -->
        <li>
          <a class="content-preview-item" href="#">
            <h6 class="content-preview-item-superheadline">
              December 16, 2015

            </h6>
            <h4 class="content-preview-item-headline">
              Congressional Budget Deal May Aid Programs Critical to Planners
            </h4>
            <div class="content-preview-item-postline">
              Recovery News
            </div>
          </a>
        </li>

        <!-- 3 -->
        <li>
          <a class="content-preview-item" href="#">
            <h6 class="content-preview-item-superheadline">
              December 15, 2015
            </h6>
            <h4 class="content-preview-item-headline">
              Great Places: Revitalization Through Public Private Partnerships
            </h4>
            <div class="content-preview-item-postline">
              Sustaining Places
            </div>
          </a>
        </li>

      </ul>
      <div class="read-more-link"><a href="#">View Blog Posts</a></div>
    </div>
  </div>
  <div class="col-sm-4">
    <h2>Careers</h2>
    <div class="homepage-featured-content-secondary highlight-blue">
      <div class="homepage-featured-content-secondary-image">
        <img src="//placehold.it/800x360" />
      </div>
      <div class="homepage-featured-content-secondary-body">
        <p>Some introductory copy about how the APA supports professional planners in their career development.</p>
        <a href="#" class="btn btn-primary btn-block">Search or Post Jobs</a>
        <a href="#" class="btn btn-primary btn-block">Becoming a Planner</a>
        <a href="#" class="btn btn-primary btn-block">Log CM Credits</a>
      </div>

    </div>
  </div>
  <div class="col-sm-4">
    <h2>Most Popular</h2>
    [Most Viewed/Most Shared]
  </div>
</div>
{% endblock %}