{% extends 'newtheme/templates/layout-sidebar.html' %}

{% block content_sidebar %}
{% include 'newtheme/sandbox/frontend/local-navigation.html' %}
{% endblock %}

{% block content_main %}
<div class="page-head">

  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Knowledge Center</a></li>
    <li><a href="#">Applied Research</a></li>
  </ol>


  <h1 class="page-title">Hazards Planning: Coastal Zone Management</h1>

  <h4 class="page-subtitle">APA's Hazards Planning Research Center and the Coastal States Organization (CSO), which represents the interests of governors from the 35 coastal states, commonwealths, and territories, are both current members of NOAA's Digital Coast Partnership.</h4>
</div>

<div class="layout-tracery">

  <div class="layout-column">
    <!-- BEGIN CMS MAIN CONTENT -->
    <div class="image-block image-breakout">
      <img src="//placehold.it/1000x400" />
    </div>

    <p><strong>NOAA's Coastal Services Center, creator of Digital Coast, is sponsoring a fellow to work with APA and CSO in producing a <a href="#">Coastal Zone Management PAS Report</a></strong>. The report will examine the nature and extent of state technical assistance available to community planners, as well as compare coastal management legislation across the U.S. The report will  also identify best practices in the use of geospatial technology for managing coastal hazards, climate change threats, environmental quality, and other issues relevant to coastal zone management.</p>
    <p>In 1972 the Coastal Zone Management Act (CZMA) created the National Coastal Zone Management (CZM) Program. The CZM Program allocates funds to the 35 coastal states and territories through specific programming areas ranging from enhancing public access to mitigating coastal hazards. The diverse coastal regions throughout the U.S. deeply vary in their priorities and use, from conservation to tourism to industry. While this report will outline the differences between various state strategies, it will also point to comparisons among coastal regions prioritizing similar uses.</p>
    <div class="image-block">
      <img src="//placehold.it/1000x400" />
      <div class="caption">
        <p>
          <strong>Image:</strong> Aerial view of the port of Redwood City in San Mateo County, California. Photo from U.S. Army Corps of Engineers Digital Visual Library.
        </p>
      </div>
    </div>
    <p>Coastal zone management is continually becoming more complicated. <a href="#">Climate change</a> effects — particularly sea level rise — threaten coastlines, and is a politically volatile topic. The PAS Report will explore the role of coastal zone management in adapting to and mitigating climate change, building off the CSO survey and report on sea level rise. Technology is important now, more than ever, to help manage these increasingly complex coastal regions.</p>
    <p>In the findings from the 2010 APA <a href="#">Digital Coast Needs Assessment Survey</a> of members working in coastal communities, the majority of respondents agreed or strongly agreed that there is strong support for geospatial technology within their organization (64 percent) and that their organizations are very aware of the capabilities of such technology (69 percent). However, only 28 percent of respondents agree or strongly agree that their organization provides/pays for all the needed training, and only 25 percent of respondents agree or strongly agree that their organization funds sufficient investment in geospatial technology. This disconnect between acknowledging geospatial technology as beneficial and actually supporting an investment in it will be explored in the PAS Report.</p>
    <p>Geospatial technology is becoming more accessible and affordable. NOAA's Coastal Services Center and the Digital Coast Partnership offer a growing array of freely available online Digital Coast tools, resources, and training specific to coastal zone management. These tools will be directly incorporated into the report, in addition to best practices and case studies detailing the use of technology in coastal zone management.</p>

    <hr class="dashed" />
    <h2>Learn More</h2>
    <div class="content-learn-more-accordion">
      <div class="accordion">
        <h2 class="accordion-handle">Guides</h2>
        <div class="accordion-content">
          <p>This curated list of guides outlines varied coastal planning techniques, with an emphasis on climate change strategies. Many outline a process for creating a general coastal zone management plan, and some delve into a specific element of coastal planning. APA will put out its own guide on coastal zone management, a PAS Report scheduled for the end of 2014.</p>

          <div class="list-of-links">
            <h4><a href="#">Adapting to Climate Change: A Planning Guide for State Coastal Managers</a></h4>
            <p>NOAA Office of Ocean and Coastal Resource Management</p>
            
            <h4><a href="#">Adapting to Climate Change: A Planning Guide for State Coastal Managers — A Great Lakes Supplement</a></h4>
            <p>NOAA Office of Ocean and Coastal Resource Management</p>
            
            <h4><a href="#">Adapting to Coastal Climate Change: A Guidebook for Development Planners</a></h4>
            <p>United States Agency for International Development</p>
            
            <h4><a href="#">Climate-Related Funding Opportunities</a></h4>
            <p>NOAA Coastal Services Center Regional Staff</p>
            
            <h4><a href="#">Coastal No Adverse Impact Handbook</a></h4>
            <p>Association of State Floodplain Managers and NOAA Coastal Services Center</p>
            
            <h4><a href="#">Guidelines for Integrated Coastal Zone Management</a></h4>
            <p>The World Bank Environmentally Sustainable Development Studies and Monographs Series</p>
            
            <h4><a href="#">Offshore Renewable Energy Regulatory Primer</a></h4>
            <p>National Sea Grant Law Center, University of Mississippi</p>
            
            <h4><a href="#">Preparing for Climate Change: A Guidebook for Local, Regional, and State Governments</a></h4>
            <p>University of Washington and ICLEI–Local Governments for Sustainability</p>
            
            <h4><a href="#">Protecting the Public Interest through the National Coastal Zone Management Program: How Coastal States and Territories Use No-Build Areas along Ocean and Great Lake Shorefronts</a></h4>
            <p>NOAA Office of Ocean and Coastal Resource Management</p>
            
            <h4><a href="#">Smart Growth for Coastal and Waterfront Communities</a></h4>
            <p>National Oceanic and Atmospheric Administration; Environmental Protection Agency; International City/County Management Association; Rhode Island Sea Grant</p>
            
            <h4><a href="#">Synthesis of Adaptation Options for Coastal Areas</a></h4>
            <p>U.S. Environmental Protection Agency</p>
            
            <h4><a href="#">Tools for Coastal Climate Adaptation Planning: A Guide for Selecting Tools to Assist with Ecosystem-Based Climate Planning</a></h4>
            <p>Ecosystem-Based Management Tools Network</p>
            
            <h4><a href="#">Urban Planning Tools for Climate Change Mitigation</a></h4>
            <p>Lincoln Institute of Land Policy</p>
            
            <h4><a href="#">Voluntary Step-by-Step Guide for Considering Potential Climate Change Effects on Coastal and Estuarine Land Conservation Projects</a></h4>
            <p>Office of Ocean and Coastal Resource Management Coastal and Estuarine Land Conservation Program</p>

            <h4><a href="#">Waterfront Revitalization for Small Cities</a></h4>
            <p>Oregon State University and University of Washington Sea Grant Program</p>
          </div>
        </div>
      </div>
      <div class="accordion">
        <h2 class="accordion-handle">Resources</h2>
        <div class="accordion-content">
          <p>
          Maecenas cursus gravida condimentum. Quisque finibus laoreet sapien consectetur suscipit. Aenean ut odio et ipsum scelerisque suscipit. In vel augue ligula. Aenean in ex iaculis nibh iaculis condimentum id vel urna. Sed vel viverra eros. Quisque tincidunt ipsum dui, nec dignissim diam lobortis ut.
          </p>
          <p>
          Sed velit orci, elementum sit amet ultricies vel, tincidunt a orci. Pellentesque blandit nibh quis odio ultrices, id mattis ipsum sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum sit amet eros eleifend, vulputate tellus nec, rhoncus tellus. Morbi porttitor id tellus accumsan viverra. Nunc turpis nunc, blandit ac maximus ut, gravida non massa. Mauris commodo erat quis augue consequat condimentum. Curabitur luctus cursus ante ut pharetra. Fusce condimentum aliquet ultrices. Nullam in mi quis erat tempus sagittis. Cras tellus eros, ornare et tristique eget, elementum maximus arcu. Proin nibh enim, feugiat in posuere eu, lobortis at ligula. Praesent lobortis turpis nunc, vel varius lectus imperdiet eu. Quisque scelerisque, libero luctus viverra venenatis, erat lectus consectetur lacus, id scelerisque massa urna nec purus. Sed interdum placerat odio, ac ultrices lorem laoreet consequat.
          </p>
          <p>
          Mauris quis ex eleifend, vestibulum ipsum sed, aliquet orci. Donec non erat et ligula malesuada pulvinar ac eget est. Vestibulum tellus nisl, interdum quis ultrices ut, rutrum at neque. In fermentum vulputate erat iaculis ultrices. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam non purus non enim facilisis pulvinar sit amet in eros. In vel neque ut nulla dictum mattis a a odio. Maecenas tincidunt non urna id condimentum. Integer tempus elementum fringilla. Curabitur dictum odio eget ante placerat, vitae ultricies urna semper. Quisque neque ex, gravida et orci vitae, posuere sollicitudin nunc. Donec in dui non nibh pharetra viverra. Proin eu pretium massa. Maecenas placerat massa ac vehicula molestie.
          </p>
        </div>
      </div>
      <div class="accordion">
        <h2 class="accordion-handle">Data and Tools</h2>
        <div class="accordion-content">
          <p>
          In imperdiet sodales elementum. Sed lobortis diam nulla, sit amet feugiat magna consectetur quis. Mauris sapien urna, molestie vel aliquet ac, hendrerit eu nunc. Sed a ultricies elit, id efficitur diam. Nunc lobortis metus non augue gravida, vel pretium nibh laoreet. Integer imperdiet aliquam lorem quis ullamcorper. Sed gravida nulla ac sem iaculis elementum. Sed bibendum odio eros, ut ultrices nulla varius vel. Quisque scelerisque sem et vulputate suscipit.
          </p>
          <p>
          Proin sapien ligula, viverra sit amet vestibulum a, efficitur molestie turpis. Curabitur euismod convallis turpis, nec aliquam mi. Pellentesque euismod fringilla nulla vitae vulputate. Nullam eu posuere urna. Pellentesque et eros libero. Mauris ante tellus, interdum at nulla ac, gravida vestibulum nunc. Mauris dui diam, laoreet id venenatis in, feugiat at lacus. Aliquam id leo at risus lobortis finibus sit amet eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non magna turpis. Integer pulvinar justo sapien. Pellentesque et maximus nisl. Suspendisse interdum est ac volutpat pharetra.
          </p>
          <p>
          Mauris et tellus ac est vulputate porttitor quis lobortis sem. Ut eleifend viverra elit nec rhoncus. Pellentesque accumsan tincidunt enim lacinia luctus. Sed viverra porta dictum. Suspendisse odio justo, condimentum sed lectus tempor, laoreet tempus ipsum. Curabitur scelerisque ante rutrum, viverra sapien eget, blandit odio. Curabitur metus tortor, laoreet in massa a, aliquam tristique est. Nulla vel lorem imperdiet, cursus erat sit amet, pulvinar ipsum. Aenean porttitor quam sed metus sodales aliquam. Fusce viverra eget est at convallis. Vestibulum sodales dignissim tellus, eu lobortis massa pharetra non. Nunc non ligula quam. Maecenas eleifend ultrices sem in dapibus. Nullam eget lectus massa. Aenean ut lectus mollis, cursus nisi porttitor, tincidunt nibh. Suspendisse velit augue, interdum non ornare aliquet, tincidunt id arcu.
          </p>
        </div>
      </div>
    </div>
    <!-- END CMS MAIN CONTENT -->
  </div>

</div>

{% endblock %}