{% extends 'newtheme/templates/layout-nosidebar.html' %}

{% load i18n %}


{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content_main %}
<div class="password-change-section">
  <div class="layout-tracery no-bottom-border no-top-border">
    <div class="layout-column">
      <h2 class="password-change-success">Password Change Successful</h2>
      <span class="icon-checkmark green-checkmark"></span>
      <p>Your password was changed.</p>
    </div>
  </div>
</div>

{% endblock %}


