{% extends 'newtheme/templates/layout-nosidebar.html' %}

{% block head_title %} Password reset successful{% endblock %}

{% block content_main %}
<div class="layout-tracery no-bottom-border no-top-border">
  <div class="layout-column">
    <h2>Password Instructions Sent</h2>
    <p>
      APA has sent instructions for resetting your password to the email address you submitted. It will contain a link that may be used only once.
    </p>
    <p>
      If our message does not arrive in your inbox, it may have been sent to your junk mail folder. Please check that folder; if you confirm that you did not receive our message, contact <a href="/customerservice/contact-us/">APA Customer Service</a>.
    </p>
  </div>
</div>
{% endblock %}