{% extends 'newtheme/templates/layout-nosidebar.html' %}

{% block title %}Reset Password{% endblock %}

{% block content_main %}
<div class="layout-tracery no-bottom-border no-top-border">
  <div class="layout-column">
    <h2 class="form-section-title">Request Password Reset</h2>
    {% include "ui/newtheme/forms/includes/display-errors.html" with form=form %}
    <form action="" method="post" novalidate>
    {% csrf_token  %}
    <div class="form-section form-section-limit-width form-section-enclosed-dark">
      <p>
        Please enter the email address associated with your APA web account. APA will send a message to that address with instructions to reset your password.
      </p>
      {% include "newtheme/sandbox/forms/includes/input-text.html" with field=form.email %}
    </div>

    <br>

    <input class="btn btn-primary" type="submit" value="Submit" />

    </form>

    <div class="form-section form-section-limit-width" style="margin-top:24px;">
      <h6>If you are unable to enter an email address that is in APA’s database, please contact <a href="/customerservice/contact-us/">APA Customer Service</a>.</h6>
    </div>

  </div>
</div>
{% endblock %}

